.wponion-element.wponion-element-subheading {
  font-size:        14px;
  font-weight:      bold;
  padding-top:      17px;
  padding-bottom:   17px;
  color:            #23282d;
  background-color: #f7f7f7 !important;
}