.wponion-framework {
	&.wponion-wp_lite-theme, &.wponion-wp-theme {
		.wponion-subnav-container, .nav-tab-wrapper {
			.disabled {
				opacity: 0.5;
			}
			a {
				&:focus {
					box-shadow: none;
				}
			}
		}

		&.wponion-module-settings {
			header {
				.inner-container {
					.left {
						h1 {
							padding-top: 0;
						}

						p {
							margin: 5px 0;
						}
					}

					.right {
						text-align:     right;
						vertical-align: middle;

						.action-search, .action-buttons {
							display:        inline-block;
							margin-right:   10px;
							vertical-align: middle;
							text-align:     right;

							input {
								transition: width 0.8s;
								width:      250px;

								&:focus {
									width: 450px;
								}
							}
						}
					}
				}
			}

			.main-content {
				.wponion-subnav-container {
					ul {
						vertical-align: middle;

						li {
							vertical-align: middle;
							margin-right:   5px;

							a {
								font-size:      14px;
								vertical-align: middle;
							}
						}
					}
				}
			}
		}
	}

	&.wponion-wp_lite-theme {
		&.wponion-module-settings {
			.main-content {
				.wponion-subnav-container {
					width:         100%;
					margin-top:    0;
					display:       inline-block;
					margin-bottom: 5px;
				}

				.wponion-container-wraps {
					&.wponion-sub-container-wraps {
						width: 100%;
					}
				}
			}

			footer {
				margin-top:  10px;
				border-top:  1px solid #ccc;
				padding-top: 10px;

				.right {
					text-align: right;
				}
			}
		}
	}

	&.wponion-wp-theme {
		&.wponion-module-settings {
			.main-content {
				.wponion-subnav-container {
					margin:     0;
					background: white;
					padding:    5px 0;
					border:     1px solid #ccc;
					border-top: none;
					display:    block;
					width:      100%;

					ul {
						margin:  0;
						display: block;
						float:   none;
						padding: 0 5px;
					}
				}

				.wponion-container-wraps {
					&:not(.wponion-has-containers) {
						background: white;
						border:     1px solid #ccc;
						border-top: none;
					}

					&.wponion-has-containers {

					}

					&.wponion-sub-container-wraps {
						&:not(.hidden) {
							display: block;
						}

						background-color: #fff;
						border:           1px solid #ccc;
						border-top:       none;
						width:            100%;
					}
				}
			}

			footer {
				border:     1px solid #ccc;
				border-top: none;
				padding:    10px;
				background: #fff;

				.right {
					text-align: right;
				}
			}
		}

		&.wponion-module-metabox {
			.wponion-metabox-inside-wrap {
				.content-outer-wrap {
					.wponion-menu {
						background: #eee;
						border-top: 1px solid #ddd;

						nav.nav-tab-wrapper {
							border-bottom: none;

							a.nav-tab-active {
								background:          #fff;
								border-bottom-color: #fff;
							}
						}
					}

					.content-wrap {
						border-top: 1px solid #ddd;

						.wponion-container-wraps:not(.wponion-has-containers) {
							padding-top:    15px;
							padding-bottom: 15px;
						}

						.wponion-subnav-container {
							display:       inline-block;
							width:         100%;
							padding:       7px 0;
							border-bottom: 1px solid #ccc;
							background:    #fbfbfb;

							ul {
								margin:  0;
								padding: 0 15px;
							}
						}
					}
				}
			}
		}
	}
}
