.wponion-element.wponion-element-date_picker {
	.date-range-container {
		margin-left:  -15px;
		margin-right: -15px;

		> .wponion-element {
			border:       none;
			border-right: $element_border;
			margin-right: 15px;

			&:last-child {
				border-right: none;
				margin-right: 0;
			}
		}
	}
}

.wponion-framework.wponion-module-customizer {
	.wponion-element.wponion-element-date_picker {
		input[readonly] {
			background: #fafafa;
		}
		.date-range-container {
			> .wponion-element {
				width:      100%;
				flex-basis: 100%;
				max-width:  100%;
				@include wponion_field_horizontal();


			}
		}
	}
}
