.wponion-element.wponion-element-background {
	.wponion-element {
		@include wponion_field_horizontal();
		padding:       0;
		width:         15%;
		border:        none;
		margin-right:  15px;
		display:       inline-block;
		margin-bottom: 25px;

		&.wponion-element-color_picker {
			width:         40% !important;
			margin-bottom: 25px;
		}

		&.wponion-field-upload {
			width:         50% !important;
			margin-bottom: 25px;
		}
	}
}
