/**
   * Checkbox & Radio Box Styles.
   */
&.wponion-element-checkbox, &.wponion-element-radio, &.wponion-element-image_select {
  .wponion-checkbox-radio-group {
	display:      inline-block;
	min-width:    200px;
	margin-right: 25px;
	border:       1px solid #dadada;
	.wponion-group-header {
	  padding:       10px 15px;
	  margin-bottom: 15px;
	  background:    #f8f8f8;
	  border-bottom: 1px solid #dadada;
	  h4 {
		margin-bottom: 0;
		font-size:     1.0rem;
	  }
	}

	ul.wponion-checkbox-group-lists {
	  padding: 0 15px;
	  li {
		div {
		  margin-bottom: 0;
		}
	  }
	}

	&:last-child {
	  margin-right: 0;
	}
  }
}

&.wponion-element-image_select {
  .form-group {
	padding:      0;
	display:      inline-block;
	label {
	  margin-bottom: 0;
	  input {
		visibility: hidden;

		&:checked + img {
		  border-color: #444;
		}
	  }

	  img {
		border: 2px solid #fff;
		&:hover {
		  border-color: #444;
		}
	  }
	}
	margin-right: 10px;
  }

  .wponion-checkbox-radio-group {
	display:       block;
	margin-bottom: 25px;
	ul.wponion-checkbox-group-lists {

	  li {
		display: inline-block;
	  }
	}
  }
}
