hr {
	&.style1 {
		border-top: 1px solid #8c8b8b;
	}

	&.style2 {
		border-top: 3px double #8c8b8b;
	}

	&.style3 {
		border-top: 1px dashed #8c8b8b;
	}

	&.style4 {
		border-top: 1px dotted #8c8b8b;
	}

	&.style5 {
		background-color: #fff;
		border-top:       2px dashed #8c8b8b;
	}

	&.style6 {
		background-color: #fff;
		border-top:       2px dotted #8c8b8b;
	}

	&.style7 {
		border-top:    1px solid #8c8b8b;
		border-bottom: 1px solid #fff;
	}

	&.style8 {
		border-top:    1px solid #8c8b8b;
		border-bottom: 1px solid #fff;

		&:after {
			content:       '';
			display:       block;
			margin-top:    2px;
			border-top:    1px solid #8c8b8b;
			border-bottom: 1px solid #fff;
		}
	}

	&.style9 {
		border-top:    1px dashed #8c8b8b;
		border-bottom: 1px dashed #fff;
	}

	&.style10 {
		border-top:    1px dotted #8c8b8b;
		border-bottom: 1px dotted #fff;
	}

	&.style11 {
		height:     6px;
		background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
		border:     0;
	}

	&.style12 {
		height:     6px;
		background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
		border:     0;
	}

	&.style13 {
		height:     10px;
		border:     0;
		box-shadow: 0 10px 10px -10px #8c8b8b inset;
	}

	&.style14 {
		border:           0;
		height:           1px;
		background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
		background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
		background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
		background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	}

	&.style15 {
		border-top: 4px double #8c8b8b;
		text-align: center;

		&:after {
			content:    '\002665';
			display:    inline-block;
			position:   relative;
			top:        -15px;
			padding:    0 10px;
			background: #f0f0f0;
			color:      #8c8b8b;
			font-size:  18px;
		}
	}

	&.style16 {
		border-top: 1px dashed #8c8b8b;

		&:after {
			content:    '\002702';
			display:    inline-block;
			position:   relative;
			top:        -12px;
			left:       40px;
			padding:    0 3px;
			background: #f0f0f0;
			color:      #8c8b8b;
			font-size:  18px;
		}
	}

	&.style17 {
		border-top: 1px solid #8c8b8b;
		text-align: center;

		&:after {
			content:           'ยง';
			display:           inline-block;
			position:          relative;
			top:               -14px;
			padding:           0 10px;
			background:        #f0f0f0;
			color:             #8c8b8b;
			font-size:         18px;
			-webkit-transform: rotate(60deg);
			-moz-transform:    rotate(60deg);
			transform:         rotate(60deg);
		}
	}

	&.style18 {
		height:        30px;
		border-style:  solid;
		border-color:  #8c8b8b;
		border-width:  1px 0 0 0;
		border-radius: 20px;

		&:before {
			display:       block;
			content:       "";
			height:        30px;
			margin-top:    -31px;
			border-style:  solid;
			border-color:  #8c8b8b;
			border-width:  0 0 1px 0;
			border-radius: 20px;
		}
	}
}

.wponion-element-divider {
	margin:  10px 0;
	padding: 0;
	border:  none;
}
