.wponion-element {
  &.wponion-element-checkbox, &.wponion-element-radio, &.wponion-element-image_select {
	.form-check {
	  label {
		float:       none;
		width:       auto;
		margin-left: 0;
	  }
	}
  }
}

