.wponion-element-textarea {
	textarea {
		min-width:  300px;
		min-height: 130px;
		margin:     0;
		padding:    5px 10px;
	}

	.wponion-input-group-wrap {
		textarea {
			margin: 0 1px;
		}
	}
}

.wponion-metabox {
	&.wponion-metabox-side {
		.wponion-element-textarea {
			textarea {
				min-width:  250px;
				min-height: 100px;
			}
		}
	}
}

