.wponion-element.wponion-element-group {
  .wponion-group-wrap {
	margin-bottom: $element_gurtter;
  }
  .wponion-group-action {
	padding:        $element_gurtter;
	text-align:     right;
	border-top:     1px solid #ddd;
	margin-top:     $element_gurtter;
  }
}

