.wponion-element.wponion-element-checkbox, .wponion-element.wponion-element-radio, .wponion-element.wponion-field-image_select, .wponion-element.wponion-element-color_palette {
	.wponion-fieldset {
		.wponion-checker {
			margin-bottom: 12px;

			input {
				margin-right: 10px;
			}

			ul {
				vertical-align: top;
				display:        inline-block;
			}
		}

		> ul {
			overflow-y: auto;
			max-height: 305px;

			> li {
				&.has-subgroup {
					display:        inline-block;
					width:          auto;
					margin-right:   20px;
					vertical-align: top;
					border-right:   1px dashed #ddd;
					padding-right:  20px;

					&:last-child {
						margin-right:  0;
						padding-right: 0;
						border-right:  0;
					}
				}

				.wponion-checkbox-radio-header {
					font-size:     14px;
					margin:        0;
					margin-bottom: 15px;
				}

				> ul {
				}
			}
		}
	}
}
