.wponion-element.wponion-element-checkbox, .wponion-element.wponion-element-radio, .wponion-element.wponion-field-image_select, .wponion-element.wponion-element-color_palette {
	.wponion-fieldset {
		.form-check {
			margin-bottom: 12px;
		}

		.wponion-checkbox-radio-group {
			display:      inline-block;
			margin-right: 15px;
			min-width:    15%;

			.wponion-group-header {
				h4 {
					font-size: 14px;
					margin:    0;
				}
			}

			+ .wponion-checkbox-radio-group {
				margin-bottom: 15px;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
