.wponion-framework.wponion-wp-theme {
  /* Handle Hiding Main Nav / Subnav.*/
  /* Handles Page Actions */
  /* Handles Page Load Scss. */
}

.wponion-framework.wponion-wp-theme nav.nav-tab-wrapper a {
  outline: none;
}

.wponion-framework.wponion-wp-theme nav.nav-tab-wrapper a:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.wponion-framework.wponion-wp-theme #poststuff {
  display: inline-block;
  width: 100%;
}

.wponion-framework.wponion-wp-theme #poststuff div.postbox {
  border: 1px solid #dadada;
}

.wponion-framework.wponion-wp-theme #poststuff div.postbox .wponion-subnav-container {
  display: inline-block;
  background: #f5f5f5;
  width: 100%;
  border-bottom: 1px solid #dadada;
  padding: 0;
}

.wponion-framework.wponion-wp-theme #poststuff div.postbox .wponion-subnav-container .wponion-submenus {
  margin-top: 0;
  display: inline-block;
  font-size: 14px;
  line-height: 2;
  margin-bottom: 0;
  width: 100%;
}

.wponion-framework.wponion-wp-theme #poststuff div.postbox .wponion-subnav-container .wponion-submenus li a {
  padding: 5px 10px;
  font-size: 14px;
  outline: none;
  display: inline-block;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid transparent;
  margin-bottom: -1px;
}

.wponion-framework.wponion-wp-theme #poststuff div.postbox .wponion-subnav-container .wponion-submenus li a:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.wponion-framework.wponion-wp-theme #poststuff div.postbox .wponion-subnav-container .wponion-submenus li a.current {
  background: white;
  border-bottom: 1px solid white;
  border-right: 1px solid #dadada;
  border-left: 1px solid #dadada;
}

.wponion-framework.wponion-wp-theme #poststuff div.postbox .wponion-subnav-container .wponion-submenus li:first-child a.current, .wponion-framework.wponion-wp-theme #poststuff div.postbox .wponion-subnav-container .wponion-submenus li:first-child a:hover, .wponion-framework.wponion-wp-theme #poststuff div.postbox .wponion-subnav-container .wponion-submenus li:first-child a {
  border-left: none;
}

.wponion-framework.wponion-wp-theme #poststuff div.postbox div.inside {
  margin: 0 !important;
  padding: 0;
}

.wponion-framework.wponion-wp-theme #poststuff div.postbox div.inside .wponion-group-action {
  padding: 15px;
}

.wponion-framework.wponion-wp-theme #poststuff div.postbox div.inside .wponion-element {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100% !important;
  padding: 0 !important;
}

.wponion-framework.wponion-wp-theme #poststuff div.postbox div.inside .wponion-element:before {
  content: '';
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 20%;
  background: #fafafa;
  border-right: 1px solid #ddd;
}

.wponion-framework.wponion-wp-theme #poststuff div.postbox div.inside .wponion-element.wponion-element-no-title:before {
  background-color: #fff;
  border-right: 0px;
}

.wponion-framework.wponion-wp-theme #poststuff div.postbox div.inside .wponion-element .wponion-element-title {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 12px;
  position: relative;
  z-index: 1;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
}

.wponion-framework.wponion-wp-theme #poststuff div.postbox div.inside .wponion-element .wponion-fieldset {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80%;
  flex: 0 0 80%;
  width: 80%;
  margin-left: 0 !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 12px;
  position: relative;
  z-index: 1;
}

.wponion-framework.wponion-wp-theme.wponion-hide-nav nav.nav-tab-wrapper {
  display: none;
}

.wponion-framework.wponion-wp-theme .wponion-form-actions {
  float: right;
  width: 100%;
  text-align: right;
  padding: 15px;
  background: white;
  border: 1px solid #dadada;
}

.wponion-framework.wponion-wp-theme .wponion-form-actions button {
  float: right;
  margin: 0 10px;
}

.wponion-framework.wponion-wp-theme .wponion-form-actions button.wponion-restore, .wponion-framework.wponion-wp-theme .wponion-form-actions button.wponion-reset {
  float: left;
}

.wponion-framework.wponion-wp-theme .wponion-form-actions button.wponion-save {
  margin-right: 0;
}

.wponion-framework.wponion-wp-theme .wponion-form-actions button.wponion-restore {
  margin-left: 0;
}

.wponion-framework.wponion-wp-theme .wponion-page-loader {
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.85);
  left: -10px;
}

.wponion-framework.wponion-wp-theme .wponion-page-loader:before, .wponion-framework.wponion-wp-theme .wponion-page-loader:after {
  color: black;
  border-color: rgba(0, 0, 0, 0.57);
  border-left-color: transparent;
}

/*# sourceMappingURL=wponion-wp-theme.css.map */