.wponion-element.wponion-element-css_unit {
	input[type="number"] {
		margin-right:   10px;
		vertical-align: middle;
		width:          70px;
		min-width:      20px;
	}

	select {
		margin:         0;
		padding:        2px;
		vertical-align: middle;
		min-width:      20px;
	}
}

