.wponion-element.wponion-element-background {
  .wponion-element {
	@include wponion_field_horizontal();
	display:      inline-block;
	width:        auto;
	border:       none;
	margin-right: 15px;
	margin-top:   0;
	padding-top:  0;
	&.wponion-field-color_picker {
	  margin-bottom: 25px;
	  width:         100%;
	  margin-right:  0;
	}

	&.wponion-field-upload {
	  margin-top:   25px;
	  width:        100%;
	  margin-right: 0;
	}
  }
}

.wponion-metabox {
  &.wponion-metabox-side {
	.wponion-element.wponion-element-background {
	  .wponion-element {
		margin-right: 0;
		width:        100%;
		max-width:    100%;
		padding:      0 !important;
		&.wponion-field-color_picker {
		  margin-bottom: 15px;
		}

		&.wponion-field-upload {
		  margin-bottom: 15px;
		}
	  }
	}

  }
}

