@import "../../includes/variables";

$metabox_menu_color: #e14d43;
$metabox_a_color: #fff;
$metabox_header_bg: #26292c;
$metabox_a_bg: $metabox_header_bg;
$metabox_menu_bg_color: #32373C;
$metabox_menu_width: 200px;

.wponion-menu {
	background: $metabox_a_bg;
	display:    block;
	width:      100%;

	ul {
		margin: 0;


		li {
			list-style: none;

			&.separator {
				margin:     10px 0;
				background: #2e2e2e;
				min-height: 5px;

				> span {
					padding:      10px;
					padding-left: 15px;
					margin:       10px 0;
					display:      block;
					color:        #cdcdcd;

					i {
						width:      20px;
						height:     20px;
						text-align: center;
					}
				}

			}

			a {
				position:        relative;
				text-decoration: none;
				color:           $metabox_a_color;
				box-shadow:      none;
				outline:         none;
				display:         block;
				transition:      all .25s ease;
				padding:         10px;
				padding-left:    15px;

				&.disabled {
					opacity: 0.5;
				}

				i {
					width:      20px;
					height:     20px;
					text-align: center;
				}

			}

			ul {
				&.disabled {
					opacity: 0.5;
				}
			}

			&:hover {
				transition: all .25s ease;

				> a {
					background: $metabox_menu_color;
				}
			}
		}
	}

	> ul {
		> li {
			> a {
				&.active {
					background:  $metabox_menu_color;
					font-weight: bold;

					/**
					 * @todo Check and remove if parent menu with indication dose not look good.
					 */
					&::after {
						border-right-color: #fff;
						border-width:       10px;
					}

					& + ul {
						display: inline-block;
						width:   100%;

						> li {
							> a {
								&.active {
									font-weight: bold;
									background:  #3D434A;
									color:       white;

									&::after {
										border-right-color: #fff;
										border-width:       10px;
									}
								}
							}
						}
					}
				}

				/**
                 * @todo Check and remove if parent menu with indication dose not look good.
                 */
				&::after {
					left:           180px;
					border:         solid transparent;
					content:        " ";
					height:         0;
					width:          0;
					position:       absolute;
					pointer-events: none;
				}

				/**
                 * @todo Check and remove if parent menu with indication dose not look good.
                 */
				&.dropdown {
					&::after {
						content:    '';
						visibility: hidden;
						display:    none;
					}
				}
			}

			> ul {
				display:          none;
				background-color: $metabox_menu_bg_color;
				padding:          7px 0;

				> li {
					> a {
						padding-left: 20px;

						&::after {
							left:           180px;
							border:         solid transparent;
							content:        " ";
							height:         0;
							width:          0;
							position:       absolute;
							pointer-events: none;
						}
					}
				}
			}

			&:hover {
				> ul {
					> li {
						&:hover {
							a {
								background: #3D434A;
							}
						}
					}
				}
			}
		}
	}

	&-bg {
		position:   absolute;
		top:        0;
		background: $metabox_a_bg;
		bottom:     0;
		z-index:    -1;
		flex-basis: 100%;
		width:      100%;
	}
}

.wponion-framework.wponion-wp_modern-theme {
	header, footer {
		background: $metabox_header_bg;
		color:      white;

		.left {
			h1 {
				color: white;
			}
		}
	}

	header {
		&.header-sticky-in {
			.inner-container {
				background: $metabox_header_bg;
			}
		}
	}

	.content-outer-wrap {
		background: white;
	}

	&.wponion-module-settings, &.wponion-module-metabox {
		header, footer, .content-outer-wrap {
			width:   100%;
			float:   left;
			display: block;
		}

		header {
			position:                relative;
			border-top-right-radius: 5px;
			border-top-left-radius:  5px;

			&.header-sticky-in {
				.inner-container {
					position: fixed;
					z-index:  20;
					top:      32px;

					p {
						display: none;
					}

					h1 {
						margin-bottom: 10px;
					}
				}
			}

			.row {
				margin-left:  0;
				margin-right: 0;
			}

			.left {
				h1 {
					margin-top: 5px;
				}

				p {
					margin-top:    5px;
					margin-bottom: 10px;
				}
			}

			.right {
				text-align: right;

				> div {
					display:        inline-block;
					vertical-align: middle;
				}

				.action-search {
					margin-right: 5px;
					text-align:   left;

					input {
						margin:           0 2px 0 0;
						border:           none;
						font-size:        12px;
						line-height:      12px;
						text-align:       inherit;
						padding:          8px 10px;
						color:            #fff;
						background-color: #353535;
						border-radius:    2px;
						box-shadow:       none;
						width:            200px;

						&:focus {
							background-color: #444;
							box-shadow:       none;
						}

						&::-webkit-input-placeholder {
							color: #666;
						}
					}
				}
			}
		}

		.content-outer-wrap {
			border-right: $element_border;
			display:      table;

			.menu-wrap {
				z-index:        1;
				position:       relative;
				width:          200px;
				max-width:      200px;
				display:        table-cell;
				vertical-align: top;

				& + .content-wrap {
					max-width:      calc(100% - 30px);
					width:          calc(100% - 30px);
					display:        inline-block;
					vertical-align: top;
					padding-left:   15px;
					padding-right:  15px;
				}

				.wponion-menu-bg {
					left: 0;
				}
			}

			.content-wrap {
				position:  relative;
				padding:   0 !important;
				max-width: 100% !important;
				width:     100% !important;

				> .row {
					margin: 0 !important;
				}

				.search-no-result {
					display:    none;
					padding:    15px;
					text-align: center;
				}

				.wponion-container-wraps {
				}

				&.only-fields {
					padding: 0;
					margin:  0;
				}
			}

			&.full-width {
				display:  block;
				position: relative;
				width:    100%;

				.content-wrap {
					display:   block;
					width:     100%;
					max-width: 100%;

					> div:not(.wponion-search-matched) {
						display: block !important;
						width:   100%;
					}
				}
			}
		}

		footer {
			position:                   relative;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius:  5px;

			.row {
				margin: 0;
			}

			.left {
				min-height: 65px;
			}

			.right {
				text-align: right;
			}
		}
	}

	&.wponion-module-metabox {
		.wponion-metabox-inside-wrap {
			width:     100%;
			max-width: 100%;
			display:   inline-block;

			.content-wrap {
				&.only-fields {
					padding: 0;
					margin:  0;
				}
			}
		}
	}
}
