.wponion-element.wponion-element-visual_button_editor {
	> .row {
		> .wponion-fieldset {
			> .wponion-element {
				padding: 0;
			}

			.button-editor-preview {
				padding:    10px;
				margin-top: 10px;
				background: #fafafa;
				border:     1px solid #eee;
				text-align: center;
			}
		}
	}
}
