$wponion_metabox_menu_color: #e14d43;
$wponion_metabox_a_color: #fff;
$wponion_metabox_a_bg: #26292c;
$wponion_metabox_menu_bg_color: #32373C;
$wponion_metabox_menu_width: 200px;


.wponion-search-unmatched {
	display: none !important;
}

.wponion-search-matched {
	display: block !important;
}

.wponion-fresh-theme-layouts {
	.menu-wrap + .content-wrap {
		/*
		* @todo please change 200px here also when updating the width above.
		*/
		padding: 15px 0;
		width:   calc(100% - 200px) !important;
	}

	.menu-wrap {
		float:      left;
		width:      $wponion_metabox_menu_width;
		background: $wponion_metabox_a_bg;

		ul {
			padding-left: 0px;
			margin-top:   0;

			li {
				list-style: none;

				a {
					position:        relative;
					text-decoration: none;
					color:           $wponion_metabox_a_color;
					box-shadow:      none;
					outline:         none;
					display:         block;
					transition:      all .25s ease;
					padding:         10px !important;

					i {
						width:      20px;
						height:     20px;
						text-align: center;
					}
				}

				&:hover {
					transition: all .25s ease;

					> a {
						background: $wponion_metabox_menu_color;
					}
				}
			}
		}

		> ul {
			background: $wponion_metabox_a_bg;
			max-width:  $wponion_metabox_menu_width;

			> li {
				> a {
					&.active {
						background:  $wponion_metabox_menu_color;
						font-weight: bold;

						& + ul {
							display: inline-block;
							width:   100%;

							> li > a {
								&.active {
									font-weight: bold;
									background:  #3D434A;
									color:       white;

									&::after {
										border-right-color: #fff;
										border-width:       10px;
									}
								}
							}
						}
					}
				}

				> ul {
					display:          none;
					background-color: $wponion_metabox_menu_bg_color;
					padding:          7px 0;

					> li {
						> a {
							padding-left: 20px;

							&::after {
								left:           180px;
								border:         solid transparent;
								content:        " ";
								height:         0;
								width:          0;
								position:       absolute;
								pointer-events: none;
							}
						}
					}
				}

				&:hover {
					> ul {
						> li {
							&:hover {
								a {
									background: #3D434A;
								}
							}
						}
					}

				}
			}
		}
	}

	.menu-bg-wrap {
		position:   absolute;
		top:        0;
		background: $wponion_metabox_a_bg;
		bottom:     0;
		width:      $wponion_metabox_menu_width;
		z-index:    -1;
	}

	.content-wrap {
		float:          left;
		width:          100%;
		max-width:      100%;
		padding-top:    0px;
		padding-bottom: 15px;
		background:     #fff;

		&.full-width {
			width: 100% !important;
		}
	}
}

.wponion-fresh-theme {
	&.wponion-module-settings-framework {
		.content-wrap {
			padding-top:    0;
			padding-bottom: 0;
		}


		.wponion-fresh-theme-inside-wrap {
			display:    inline-block;
			width:      100%;
			position:   relative;
			background: white;
			float:      left;
			z-index:    1;
		}

		.wponion-settings-header {
			float:                   left;
			width:                   100%;
			position:                relative;
			background:              #26292c;
			color:                   white;
			border-top-right-radius: 5px;
			border-top-left-radius:  5px;

			&.wponion-settings-header-sticky {
				.wponion-settings-header-inner {
					position:   fixed;
					z-index:    20;
					top:        32px;
					background: #26292c;

					.wponion-settings-heading {
						h1 {
							margin-bottom: 10px;
						}

						p {
							display: none;
						}
					}
				}

			}

			.wponion-settings-heading {
				width:          49%;
				display:        inline-block;
				padding:        10px;
				vertical-align: middle;
				padding-right:  0;

				h1 {
					color:   white;
					margin:  0;
					padding: 0;
				}
			}

			.action-holder {
				width:          49%;
				vertical-align: middle;
				display:        inline-block;
				text-align:     right;
				padding:        10px;
				padding-left:   0;

				> div {
					display:        inline-block;
					vertical-align: middle;
				}


				.action-search {
					margin-right: 5px;
					text-align:   left;

					input {
						margin:           0 2px 0 0;
						border:           none;
						font-size:        12px;
						line-height:      12px;
						text-align:       inherit;
						padding:          8px 10px;
						color:            #fff;
						background-color: #353535;
						border-radius:    2px;
						box-shadow:       none;
						width:            200px;

						&:focus {
							background-color: #444;
							box-shadow:       none;
						}

						&::-webkit-input-placeholder {
							color: #666;
						}
					}
				}
			}
		}

		.wponion-form-actions {
			background:                 #26292c;
			width:                      100%;
			float:                      left;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius:  5px;

			> div {
				padding:    10px 15px;
				text-align: right;
			}
		}
	}

	&.wponion-module-metabox-framework {
		.wponion-metabox-inside-wrap {
			width:     100%;
			max-width: 100%;
			display:   inline-block;
		}
	}
}

