.wponion-element.wponion-element-modal {
	#swal2-content, .swal2-content {
		text-align:      left;
		position:        relative;
		justify-content: unset;
		flex-grow:       inherit;

		.wponion-developer-timer {
			font-size: 12px;
		}
	}
}
