.wponion-element.wponion-element-clone {


	.wponion-clone-wrap {
		.wponion-field-clone {
			position:      relative;
			margin-bottom: 20px;

			&:hover {
				.wponion-clone-action {
					visibility: visible;
				}
			}

			> .wponion-clone-action {
				border:       $element_border;
				border-right: none;
				position:     absolute;
				left:         -36px;
				padding:      5px;
				text-align:   center;
				background:   #f0f0f0;
				visibility:   hidden;

				> div.cloner-sort {
					margin-bottom: 25px;
					cursor:        move;
				}
			}

			> .wponion-element {
				border: $element_border;
			}
		}


		.wponion-field-clone {
			margin-bottom: 0;


			.wponion-element {
				border-bottom: none;
				border-top:    none;
			}

			&:last-child {
				.wponion-element {
					border-bottom: $element_border;
				}
			}

			&:first-child {
				.wponion-element {
					border-top: $element_border;
				}
			}
		}

		/*.wponion-field-clone {
			position:      relative;
			margin-bottom: 20px;

			> .wponion-clone-action {
				padding:    5px;
				border:     $element_border;
				background: #f9f9f9;
				text-align: center;

				.cloner-sort, .cloner-remove {
					display:        inline-block;
					margin-right:   5px;
					vertical-align: top;

					&:last-child {
						margin-right: 0;
					}
				}
			}

			> .wponion-element {
				border:     $element_border;
				border-top: none;
			}
		}*/

		/*.wponion-field-clone {
			position:       relative;
			padding-bottom: 20px;

			> .wponion-element {
				border:     $element_border;
				background: #fcfcfc;
			}

			.wponion-element {
			}

			&:hover {
				.wponion-clone-action {
					visibility: visible;
				}
			}

			.wponion-clone-action {
				padding:  5px 10px;
				display:  inline-block;
				position: absolute;
				top:      4px;
				right:    4px;

				> button, a {

				}
			}
		}

		.wponion-field-clone + .wponion-field-clone {

		}

		.wponion-field-clone-sorter {
			display:        inline-block;
			vertical-align: middle;
			margin-right:   10px;
			cursor:         move;
			margin-top:     0px;
		}*/
	}

	.wponion-clone-actions {
		padding-top: 5px;
		margin-top:  5px;
	}
}
