$cloner_action_width: 20px;

.wponion-element.wponion-element-clone {
	.wponion-clone-wrap {
		float: left;
		width: 100%;

		.wponion-field-clone {
			position:      relative;
			margin-bottom: 10px;

			&:hover {
				.wponion-clone-action {
					visibility: visible;
				}
			}

			> .wponion-clone-action {
				border:         $element_border;
				border-right:   none;
				padding:        5px;
				text-align:     center;
				background:     #f0f0f0;
				//visibility:     hidden;
				display:        inline-block;
				vertical-align: top;
				width:          $cloner_action_width;

				> div.cloner-sort {
					margin-bottom: 12px;
					cursor:        move;
				}

				> div.cloner-remove, > div.cloner-sort {
					> i {
						margin: 0;
					}
				}
			}

			> .wponion-clone-content {
				// Calc Flow = action-width + action-left-padding + action-right-padding + action-right-border + action-left-border (25+10+2)
				width:   calc(100% - 38px);
				display: inline-block;
				border:  $element_border;
				//border-bottom: none;
				//border-top:    none;
			}

			&:last-child {
				> .wponion-clone-content {
					border-bottom: $element_border;
					margin-bottom: 0;
				}
			}

			&:first-child {
				> .wponion-clone-content {
					border-top: $element_border;
				}
			}
		}
	}

	.wponion-clone-actions {
		display:     inline-block;
		width:       100%;
		padding-top: 10px;
		margin-top:  10px;
	}

	&.horizontal {
		.wponion-field-clone {
			margin-left: 35px;
		}
	}
}
