.wponion-element-oembed {
	.spinner {
		float:          none;
		vertical-align: middle;
		margin:         0 0 0 10px;
		display:        inline-block;
	}

	.wponion-input-group-wrap {
		display:        inline-block;
		vertical-align: middle;
	}

	img.wponion-no-preview {
		max-width: 200px;
		border:    $element_border;
	}

	.wponion-oembed-preview {
		margin-top: 1em;
	}

	.wponion-oembed-preview iframe {
		max-width: 100%;
	}
}
