.wponion-element.wponion-element-css_shadow {

	#enable_hover {
		padding:    15px 0;
		border:     none;
		margin-top: 20px;
		border-top: $element_border;
	}

	input[type="number"] {
		width:     100px;
		min-width: 100px;
	}

	.wponion-element:not(#enable_hover) {
		padding: 0;
		display: inline-block;
		border:  none;
		margin:  0;

		&:last-child {
			margin-right: 0;
		}

		&.wponion-element-spinner {
			input[type="text"] {
				min-width: 10px;
				width:     50px;
			}
		}
	}
}
