.wponion-element {
	&.wponion-element-heading, &.wponion-element-subheading {
		color:       #23282d;
		font-weight: bold;

		&.wponion-desc {
			margin-bottom: 0;
			font-size:     12px;
		}
	}

	&.wponion-element-heading {
		font-size:        1.5em;
		background-color: #f5f5f5;
	}

	&.wponion-element-subheading {
		font-size:        14px;
		/*padding-top:      17px;
		padding-bottom:   17px;*/
		color:            #23282d;
		background-color: #f7f7f7 !important;
	}

}
