.wponion-element.wponion-element-heading {
  font-size:   23px;
  font-weight: 400;
  line-height: 29px;
}

.wponion-element.wponion-element-subheading {
  color:       #23282d;
  font-size:   18px;
  font-weight: 600;
}