/**
 * Input Mask Styles.
 */
span.im-caret {
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    border-right-color: black;
  }
  50% {
    border-right-color: transparent;
  }
}

@-moz-keyframes blink {
  from, to {
    border-right-color: black;
  }
  50% {
    border-right-color: transparent;
  }
}

@-webkit-keyframes blink {
  from, to {
    border-right-color: black;
  }
  50% {
    border-right-color: transparent;
  }
}

@-ms-keyframes blink {
  from, to {
    border-right-color: black;
  }
  50% {
    border-right-color: transparent;
  }
}

@-o-keyframes blink {
  from, to {
    border-right-color: black;
  }
  50% {
    border-right-color: transparent;
  }
}

span.im-static {
  color: grey;
}

div.im-colormask {
  display: inline-block;
  border-style: inset;
  border-width: 2px;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

div.im-colormask > input {
  position: absolute;
  display: inline-block;
  background-color: transparent;
  color: transparent;
  -webkit-appearance: caret;
  -moz-appearance: caret;
  appearance: caret;
  border-style: none;
  left: 0;
  /*calculated*/
}

div.im-colormask > input:focus {
  outline: none;
}

div.im-colormask > input::-moz-selection {
  background: none;
}

div.im-colormask > input::selection {
  background: none;
}

div.im-colormask > input::-moz-selection {
  background: none;
}

div.im-colormask > div {
  color: black;
  display: inline-block;
  width: 100px;
  /*calculated*/
}

/**
 * TippyJS
 */
.tippy-popper[x-placement^=top] .tippy-tooltip.translucent-theme .tippy-arrow {
  border-top: 7px solid rgba(0, 0, 0, 0.7);
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}

.tippy-popper[x-placement^=bottom] .tippy-tooltip.translucent-theme .tippy-arrow {
  border-bottom: 7px solid rgba(0, 0, 0, 0.7);
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}

.tippy-popper[x-placement^=left] .tippy-tooltip.translucent-theme .tippy-arrow {
  border-left: 7px solid rgba(0, 0, 0, 0.7);
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

.tippy-popper[x-placement^=right] .tippy-tooltip.translucent-theme .tippy-arrow {
  border-right: 7px solid rgba(0, 0, 0, 0.7);
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

.tippy-tooltip.translucent-theme, .tippy-tooltip.translucent-theme .tippy-backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.tippy-tooltip.translucent-theme .tippy-roundarrow {
  fill: rgba(0, 0, 0, 0.7);
}

.tippy-tooltip.translucent-theme[data-animatefill] {
  background-color: transparent;
}

.tippy-popper[x-placement^=top] .tippy-tooltip.light-theme .tippy-arrow {
  border-top: 7px solid #fff;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}

.tippy-popper[x-placement^=bottom] .tippy-tooltip.light-theme .tippy-arrow {
  border-bottom: 7px solid #fff;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}

.tippy-popper[x-placement^=left] .tippy-tooltip.light-theme .tippy-arrow {
  border-left: 7px solid #fff;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

.tippy-popper[x-placement^=right] .tippy-tooltip.light-theme .tippy-arrow {
  border-right: 7px solid #fff;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

.tippy-tooltip.light-theme {
  color: #26323d;
  -webkit-box-shadow: 0 0 20px 4px rgba(154, 161, 177, 0.15), 0 4px 80px -8px rgba(36, 40, 47, 0.25), 0 4px 4px -2px rgba(91, 94, 105, 0.15);
  box-shadow: 0 0 20px 4px rgba(154, 161, 177, 0.15), 0 4px 80px -8px rgba(36, 40, 47, 0.25), 0 4px 4px -2px rgba(91, 94, 105, 0.15);
  background-color: #fff;
}

.tippy-tooltip.light-theme .tippy-backdrop {
  background-color: #fff;
}

.tippy-tooltip.light-theme .tippy-roundarrow {
  fill: #fff;
}

.tippy-tooltip.light-theme[data-animatefill] {
  background-color: transparent;
}

/*# sourceMappingURL=wponion-plugins.css.map */