.wponion-element.wponion-element-notice {
	padding:    0;
	border-top: 0;
	position:   relative;

	.alert {
		margin-bottom: 0;
		border-radius: 0;
		position:      relative;
	}

	+ .wponion-element {
		border-top: 0;
	}
}

.wponion-element.wponion-element-wp_notice {
	padding:    0;
	border-top: 0;
	position:   relative;

	.notice {
		border-radius: 0;
		margin:        0;
		position:      relative;
	}

	+ .wponion-element {
		border-top: 0;
	}
}
