.wponion-element.wponion-element-notice {
	padding:    0;
	border-top: 0;
	position:   relative;

	.wpo-row {
		margin: 0;

		> div {
			padding: 0;
		}
	}

	.alert {
		margin-bottom: 0;
		border-radius: 0;
		position:      relative;

		.wponion-remove {
			position: absolute;
			float:    none;
			right:    20px;
		}
	}

	+ .wponion-element {
		border-top: 0;
	}
}

.wponion-element.wponion-element-wp_notice {
	padding:    0;
	border-top: 0;
	position:   relative;

	.wpo-row {
		margin: 0;

		> div {
			padding: 0;
		}
	}

	.notice {
		border-radius: 0;
		margin:        0;
		position:      relative;
	}

	+ .wponion-element {
		border-top: 0;
	}
}
