/**
 * Accordion PlaceHolder
 */
.wponion-accordion-placeholder {
  border:        1px dashed #bdbdbd;
  margin-bottom: 10px;
}

/**
 * BlockUI Overlay Style.
 */
.blockUI.blockOverlay {
  @include loader();
}

/**
 * Custom Chosen Hack.
 */
.chosen-container.chosen-container-single, .chosen-container.chosen-container-multi {
  width:     auto !important; /* or any value that fits your needs */
  min-width: 200px !important;
}

#swal2-content {
  .json-view {
	overflow: scroll;
  }
}

@each $color, $value in $wponionThemes {
  .button.button-#{$color} {
	@include wponion_button($value);
  }
}