/** Other Library Style Fixes **/

//BlockUI Overlay Style.
.blockUI.blockOverlay {
	@include loader();
}

//Chosen Style Fix.
.chosen-container.chosen-container-single, .chosen-container.chosen-container-multi {
	width:     auto !important; /* or any value that fits your needs */
	min-width: 200px !important;
}

// SweatAlert2 Style Fix.
.swal2-container {
	z-index: 9999999 !important;

	#swal2-content {
		.json-view {
			overflow: scroll;
		}
	}

	.wpo-btn {
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}
	}
}

/** General Common Styles **/
.wponion-icon {
	margin-right: 4px;

	&.dashicons {
		vertical-align: middle;
		display:        inline-block;
	}
}

// Accordion PlaceHolder
.wponion-accordion-placeholder {
	margin-bottom: 15px;
	@include wponion_ui_sortable_placeholder();
}

// WPOnion Search Unmatched
.wponion-search-unmatched {
	display: none !important;
}

// WPOnion Search matched
.wponion-search-matched {
	display:    inline-block !important;
	width:      100%;
	min-height: 0 !important;
}

// WPOnion Row
.wponion-row {
	margin-left:  0 !important;
	margin-right: 0 !important;
}

// WordPress Custom Button Styling
// 1. button button-primary
// 2. button button-secondary
// 3. button button-success
// 4. button button-danger
// 5. button button-warning
// 6. button button-info
// 7. button button-light
// 8. button button-dark
@each $color, $value in $wponionThemes {
	.button.button-#{$color} {
		@include wponion_button($value);
	}
}

//Drownload Icon Indicator.
.dropdown {
	.wponion-submenu-i {
		float: right;

		&:before {
			content: "\f345";
		}
	}

	&.open {
		.wponion-submenu-i {
			&:before {
				content: "\f347";
			}
		}
	}
}

// Tick Marks
.wponion-checker {
	display:      inline-block;
	margin-right: 10px;

	label {
		display: inline-block;
	}

	input {
		&:disabled + .wponion-checker-content {
			cursor: not-allowed;
		}

		&:disabled + .wponion-checker-content:before {
			content:    " ";
			background: #f3f3f399;
			display:    block;
			position:   absolute;
			width:      99%;
			z-index:    1;
			height:     99%;
		}

		&:checked + .wponion-checker-content {
			border-color: #64bd1f;

			&:after {
				content:                "\f147";
				font-family:            dashicons;
				background-color:       #64bd1f;
				position:               absolute;
				right:                  0px;
				bottom:                 0px;
				border-top-left-radius: 2px;
				color:                  #fff;
				line-height:            normal;
				font-size:              20px;
				padding:                1px 0 0 1px;
			}
		}
	}

	.wponion-checker-content {
		border:        3px solid transparent;
		padding:       2px;
		border-radius: 2px;
		position:      relative;
		line-height:   0;
		overflow:      hidden;
	}
}

// WPOnion Remove CSS
.wponion-remove {
	font-size: 16px;
	color:     #AAAAAA;
	cursor:    pointer;

	&:before {
		content: "\f153";
	}

	&:hover {
		color: #CC0000;
	}
}

// Alerts & Notice Styling.
.alert {
	.wponion-remove {
		float:          right;
		vertical-align: middle;
		margin-top:     2px;
	}
}

//Alerts & Notice Styling.
.notice {
	.wponion-remove {
		padding:  10px;
		position: absolute;
		right:    0;
		top:      0;
	}
}

// Ajax Styling.
.wponion-ajax, .wponion-ajax-post, .wponion-ajax-get, .wponion-inline-ajax, .wponion-inline-ajax-get, .wponion-inline-ajax-post {
	+ .spinner {
		float:          none;
		vertical-align: middle;
	}
}


.wponion-framework pre {
	display:          block;
	padding:          9.5px;
	margin:           0 0 10px;
	font-size:        13px;
	line-height:      1.42857143;
	color:            #333;
	word-break:       break-all;
	word-wrap:        break-word;
	background-color: #f8f8f8;
	border:           1px solid #ccc;
	border-radius:    4px;
	overflow:         auto;
}

// WPOnion Debug View.
.wponion-debug-pre {
	background:  #fcfcfc;
	border:      1px solid #d5d5d5;
	padding:     10px;
	margin:      5px 0;
	display:     inline-block;
	float:       left;
	max-width:   100%;
	line-height: initial;
	overflow:    scroll;
	box-shadow:  0 0 3px #d5d5d5 inset;
}

.wponion-framework code.red {
	padding:          3px 10px;
	font-size:        90%;
	line-height:      10px;
	color:            #c7254e;
	background-color: #f9f2f4;
	border:           1px solid #ffbfd1;
	border-radius:    4px;
	font-family:      Menlo, Monaco, Consolas, "Courier New", monospace;
}

.wponion-framework blockquote {
	padding:     10px 20px;
	margin:      0 0 20px;
	font-size:   17.5px;
	border-left: 5px solid #eee;

	> p:first-child {
		margin-top: 0px;
	}

	> p:last-child {
		margin-bottom: 0px;
	}

}

.wponion-developer-timer {
	display:    inline-block;
	width:      100%;
	text-align: center;
	padding:    10px 0;
	margin:     10px 0;
	color:      #9e9e9e;
	font-style: italic;
}

.wponion-element {
	.wponion-developer-timer {
		margin:     0;
		padding:    0;
		display:    inline-block;
		width:      auto;
		font-size:  smaller;
		text-align: center;
		padding:    0 8px;
	}
}
