//BlockUI Overlay Style.
.blockUI.blockOverlay {
	@include loader();
}

//Chosen Style Fix.
.chosen-container.chosen-container-single, .chosen-container.chosen-container-multi {
	width:     auto !important;
	min-width: 200px !important;
}

// Select2 Style Fix.
.select2-container {
	z-index: 99999999999999999 !important
}

// SweatAlert2 Style Fix.
.swal2-container {
	z-index: 9999999 !important;

	.swal2-content {
		z-index: 2;
		#swal2-content {
			.json-view {
				overflow: scroll;
			}
		}
	}

	.wpo-btn {
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}
	}
}
