// WordPress Modal.
.wponion-wp-modal {
	#wponion-error-messages {
		display:    none;
		visibility: hidden;
	}

	.wponion-element *, .wponion-row *, .wponion-framework .row {
		box-sizing: border-box !important;
	}

	.wponion-element {
		label {
			font-size: inherit;
		}
	}

	&.wponion-single-modal-view {
		.media-frame-menu {
			display: none;
		}

		.media-frame-title, .media-frame-router, .media-frame-content, .media-frame-toolbar {
			left: 0;
		}
	}

	&.wponion-wp-modal- {
		&default {
			margin:     auto;
			box-sizing: border-box;
		}

		&xsmall {
			margin:     auto;
			box-sizing: border-box;
			max-width:  500px;
			max-height: 300px;
		}

		&small {
			margin:     auto;
			box-sizing: border-box;
			max-width:  750px;
			max-height: 500px;
		}

		&medium {
			margin:     auto;
			box-sizing: border-box;
			max-width:  840px;
			max-height: 660px;
		}

		&large {
			margin:     auto;
			box-sizing: border-box;
			max-width:  1200px;
			max-height: 800px;
		}

		&full {
			top:        0;
			bottom:     0;
			right:      0;
			left:       0;
			margin:     auto;
			box-sizing: border-box;
			max-width:  100%;
			max-height: 100%;
		}
	}

	.wponion-modal-content-container {
		.media-frame-content {
			.media-content {
				display:  inline-block;
				width:    100%;
				position: relative;

				&.with-sidebar {
					width: calc(100% - 300px);
				}

				> .wponion-element {
					> .row {
						width:        100%;
						margin-left:  0 !important;
						margin-right: 0 !important;

						> div {
							padding-left:  0;
							padding-right: 0;
						}
					}

				}
			}
		}
	}
}
