@keyframes spin {
  100% {
	transform: rotate(360deg);
  }
}

@mixin bootstrabtns($base1,$base2,$base3,$hover) {
  color:        #fff !important;
  border-color: $base1 $base2 $base2 !important;
  background:   $base3 !important;
  box-shadow:   0 1px 0 $base2 !important;
  text-shadow:  0 -1px 1px $base2,
				1px 0 1px $base2,
				0 1px 1px $base2,
				-1px 0 1px $base2 !important;

  &:hover, &:focus {
	border-color: $base2 !important;
	background:   $hover !important;
	box-shadow:   0 1px 0 $base2 !important;
  }

  &:active {
	border-color: $base2 !important;
	background:   $base1 !important;
	box-shadow:   inset 0 2px 0 $base2 !important;
  }
}

@mixin loader() {
  &::before {
	height:          1em;
	width:           1em;
	display:         block;
	position:        absolute;
	top:             50%;
	left:            50%;
	margin-left:     -0.5em;
	margin-top:      -0.5em;
	content:         '';
	animation:       spin 1s ease-in-out infinite;
	background:      url('../img/loader.svg') center center;
	background-size: cover;
	line-height:     1;
	text-align:      center;
	font-size:       2em;
	color:           rgba(#000, 0.75);
  }
}

@mixin wponion_field_horizontal() {
  > .wponion-field-title {
	width:         100%;
	display:       block;
	margin-bottom: 10px;
	margin-right:  0px;
  }
  > .wponion-fieldset {
	width: 100%;
	float: none;
  }
}