@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

@mixin loader() {
	&::before {
		height:          1em;
		width:           1em;
		display:         block;
		position:        absolute;
		top:             50%;
		left:            50%;
		margin-left:     -0.5em;
		margin-top:      -0.5em;
		content:         '';
		animation:       spin 1s ease-in-out infinite;
		background:      url('../img/loader.svg') center center;
		background-size: cover;
		line-height:     1;
		text-align:      center;
		font-size:       2em;
		color:           rgba(#000, 0.75);
	}
}

@mixin wponion_field_border_fix() {
	border-bottom: $element_border;
	border-top:    none;
	border-right:  $element_border;

	&:last-child {
		border-bottom: none;
	}
}

@mixin wponion_field_horizontal() {
	> .wpo-row {
		> .wponion-field-title {
			flex:          0 0 100% !important;
			max-width:     100% !important;
			width:         100% !important;
			margin-bottom: $element_gurtter;
			margin-right:  0;
		}

		> .wponion-fieldset {
			flex:      0 0 100% !important;
			max-width: 100% !important;
			width:     100% !important;
			float:     none;
		}
	}
}

@mixin wponion_ui_sortable_placeholder() {
	border:           1px dashed #f1c40f;
	background-color: #fffae4;
}

@mixin wponion_button( $button-color, $text-color: #fff ) {
	background:   $button-color;
	border-color: darken($button-color, 10%) darken($button-color, 15%) darken($button-color, 15%);
	color:        $text-color;
	box-shadow:   0 1px 0 darken($button-color, 15%);
	text-shadow:  0 -1px 1px darken($button-color, 15%),
				  1px 0 1px darken($button-color, 15%),
				  0 1px 1px darken($button-color, 15%),
				  -1px 0 1px darken($button-color, 15%);

	&:hover,
	&:focus {
		background:   lighten($button-color, 3%);
		border-color: darken($button-color, 15%);
		color:        $text-color;
		box-shadow:   0 1px 0 darken($button-color, 15%);
	}

	&:focus {
		box-shadow: inset 0 1px 0 darken($button-color, 10%),
					0 0 2px 1px #darken ($button-color, 20%);
	}

	&:active,
	&.active,
	&.active:focus,
	&.active:hover {
		background:   darken($button-color, 10%);
		border-color: darken($button-color, 15%);
		box-shadow:   inset 0 2px 0 darken($button-color, 15%);
	}

	&[disabled],
	&:disabled,
	&.button-primary-disabled,
	&.disabled {
		color:        hsl(hue($button-color), 10%, 80%) !important;
		background:   darken($button-color, 8%) !important;
		border-color: darken($button-color, 15%) !important;
		text-shadow:  none !important;
	}

	&.button-hero {
		box-shadow: 0 2px 0 darken($button-color, 15%) !important;

		&:active {
			box-shadow: inset 0 3px 0 darken($button-color, 15%) !important;
		}
	}

}

@mixin wponion_respond_to($break_points...) {
	@each $breakpoint in $break_points {
		@if map-has-key($wpo_breakpoints, $breakpoint) {
			@media #{inspect(map-get($wpo_breakpoints, $breakpoint))} {
				@content;
			}
		} @else {
			@warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`.Available breakpoints are: #{map-keys($breakpoints)}.";
		}
	}
}
