.wponion-element.wponion-element-spacing {
	> .row {
		.wponion-fieldset {
			.row {
				margin-left:  -10px;
				margin-right: -10px;

				> div:not(.hidden) {
					width:          auto !important;
					display:        inline-block !important;
					flex-basis:     auto !important;
					padding-top:    0;
					padding-bottom: 0;
					padding-left:   10px;
					padding-right:  10px;

					.clear {
						display: none !important;
					}

					.wponion-input-group {
						margin-right: 0;
					}

					button {
						vertical-align: baseline !important;
						padding:        0 5px 1px !important;
					}
				}
			}
		}
	}

	.wponion-fieldset {
		input {
			width:      65px;
			max-width:  100%;
			text-align: center;
		}
	}
}

.wponion-framework.wponion-module-customizer {
	.wponion-element.wponion-element-spacing {
		select {
			width: 100%;
		}
	}
}
