.wponion-framework {
	input, textarea {
		border-radius: 0;
		margin:        0;

		&:disabled {
			background: #0f0f0f12;
			color:      #18181847;
		}
	}

	input, textarea {
		line-height: 1;
	}

	input[type="radio"] {
		border-radius: 5px;
	}

	input[type="text"],
	input[type="password"],
	input[type="color"],
	input[type="date"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="email"],
	input[type="month"],
	input[type="number"],
	input[type="search"],
	input[type="tel"],
	input[type="time"],
	input[type="number"],
	input[type="url"],
	input[type="week"],
	input[type="checkbox"],
	input[type="radio"],
	textarea {
		border:     1px solid #bdbdbd;
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);

		&:hover {
			border-color: #aaa;
		}

		&:focus {
			border-color: #5b9dd9;
			box-shadow:   0 0 2px rgba(30, 140, 190, 0.8);
			outline:      2px solid transparent;
		}

	}

	input[type="text"],
	input[type="password"],
	input[type="color"],
	input[type="date"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="email"],
	input[type="month"],
	input[type="number"],
	input[type="search"],
	input[type="tel"],
	input[type="time"],
	input[type="number"],
	input[type="url"],
	input[type="week"],
	textarea {
		padding:   5px;
		min-width: 100px;
		height:    auto;
	}
}

.wponion-element-text {
	input {
	}
}
