.wponion-framework {
	input, textarea {
		&:disabled {
			background: #0f0f0f12;
			color:      #18181847;
		}
	}

	input[type="text"], input[type="password"], input[type="checkbox"], input[type="color"], input[type="date"],
	input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"],
	input[type="number"], input[type="search"], input[type="radio"], input[type="tel"], input[type="text"],
	input[type="time"], input[type="number"], input[type="url"], input[type="week"], select, textarea {
		border:     1px solid #bdbdbd;
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);

		&:hover {
			border-color: #aaa;
		}

		&:focus {
			border-color: #5b9dd9;
			box-shadow:   0 0 2px rgba(30, 140, 190, 0.8);
			outline:      2px solid transparent;
		}

	}

	input[type="text"], input[type="password"], input[type="checkbox"], input[type="color"], input[type="date"],
	input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"],
	input[type="number"], input[type="search"], input[type="radio"], input[type="tel"], input[type="text"],
	input[type="time"], input[type="number"], input[type="url"], input[type="week"], textarea {
		margin:    0 1px;
		padding:   5px;
		min-width: 100px;
		height:    auto;
	}
}

.wponion-element.wponion-element-text {
	input {
	}
}
