.wponion-element {
	&.wponion-element-accordion {
		.wponion-group-remove {
			display:    none;
			visibility: hidden;
		}
	}

	&.wponion-element-accordion, &.wponion-element-group {
		.wponion-accordion-wrap {
			position:  relative;
			max-width: 100%;
			width:     auto;

			.wponion-accordion-title {
				border:     1px solid #e5e5e5;
				background: #fafafa;
				transition: border-color 0.15s;
				display:    block;
				cursor:     pointer;
				position:   relative;
				margin:     0;
				padding:    15px;
				min-height: 0;
				font-size:  100%;

				&:active, &:hover, &:focus {
					border:     1px solid #bbb;
					background: #fafafa;
					outline:    none;
				}
			}

			.wponion-accordion-content {
				border:     1px solid #e5e5e5;
				background: #fff;
				border-top: 0;

				.wponion-element {
					font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

					&.hidden {
						display: none;
					}
				}
			}
		}

		span.ui-accordion-header-icon.ui-icon {
			background-image: none !important;
		}

		.ui-accordion > .wponion-accordion-wrap {
			display: block;
		}

		.ui-accordion-icons {
			padding-left: 30px !important;
		}

		.ui-accordion-header-icon {
			/*position:    absolute;
			left:        .5em;
			top:         50%;
			margin-top:  -10px;
			text-indent: 0;
			color:       #bbb;*/

			position:    absolute;
			text-indent: 0;
			color:       #bbb;
			margin:      0 !important;
			width:       30px;
			text-align:  center;
			left:        0;
			margin-top:  1px;
			font-size:   16px;
		}

		.ui-sortable-helper {
			.wponion-accordion-content {
				display: none !important;
			}
		}

	}

	&.wponion-element-group {
		.wponion-accordion-wrap {
			margin-bottom: 15px;
		}
	}
}

.wponion-framework.wponion-module-customizer {
	.wponion-element-accordion, .wponion-element-group {
		> .wpo-row {
			> .wponion-fieldset {
				> .wpo-row {
					margin: 0;
				}
			}
		}

		.wponion-element {
			width:         100%;
			flex-basis:    100%;
			max-width:     100% !important;
			margin-bottom: 15px;
			@include wponion_field_horizontal();

		}
	}
}
