.wponion-element-backup {
	.wponion-restore-container {
		margin-top: 15px;

	}
	.wponion-backup-restore-container {
		> .backup_textarea, > .backups {
			width:          37%;
			display:        inline-block;
			vertical-align: top;
			textarea {
				height: 300px;
				width:  100%;
			}
		}
		.backups {
			text-align: center;
			.backup_lists {
				min-height: 100px;
				span {
					padding:    50px 0;
					text-align: center;
					display:    block;
					font-size:  15px;
				}
				ul {
					text-align: left;
					margin-top:   0;
					list-style:   disc;
					padding-left: 15px;
					li {
						margin-bottom: 15px;
						cursor:        pointer;
						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
		}
		> .backup_textarea {
			margin-right: 15px;
			width:        30%;
		}

		> .restore_textarea {
			padding:        10px;
			width:          30%;
			display:        inline-block;
			vertical-align: top;
			.upload_area {
				padding:  15px;
				border:   5px dashed #ddd;
				position: relative;

				input[type="file"] {
					position: absolute;
					margin:   0;
					padding:  0;
					width:    100%;
					height:   100%;
					outline:  0;
					opacity:  0;
					cursor:   pointer;
					top:      0;
					left:     0;
					z-index:  1;
				}

				textarea {
					width:      100%;
					min-height: 150px;
					z-index:    2;
					position:   relative;
				}
				h2, h3, h1 {
					text-align:  center;
					margin:      25px 0;
					padding-top: 20px;
					border-top:  1px solid #eeeeee;
					margin-top:  20px;
					color:       #6b6b6b;
				}

			}
		}

	}
	/*.wponion-restore-container, .wponion-backup-container {
		float:         left;
		width:         100%;
		display:       inline-block;
		margin-bottom: 25px;
		> div {
			float:   left;
			padding: 0 15px;
			height:  300px;
		}
	}

	.wponion-backup-container {
		float:   left;
		width:   100%;
		display: inline-block;
		> div {
			float:   left;
			padding: 0 15px;
			height:  300px;
			&.backup_textarea {
				border-right: $element_border;
				text-align:   center;
				width:        40%;
				textarea {
					width:      100%;
					height:     300px;
					padding:    0;
					max-height: 300px;
				}
			}
		}
	}*/

}
