.wponion-element-faq.wponion-element {
	.faqs-container {
		margin: 0;
		$lightgrey: #dddddd;

		.faq {
			margin-bottom: 15px;

			.faq-title {
				position:      relative;
				display:       block;
				margin-bottom: 0px;

				h3 {
					font-size:   17px;
					margin:      0px;
					cursor:      pointer;
					font-weight: normal;
				}

				.title-name {
					display:        inline-block;
					padding:        5px;
					vertical-align: middle;
				}

				a i {
					font-size:    14px;
					margin-right: 5px;
				}

				i {
					transition:     all 0.3s ease;
					vertical-align: middle;
					width:          15px;
					height:         15px;
					font-size:      15px;

					&:before {
						content: "\f345";
					}
				}

				&.active i {
					&:before {
						content: "\f347";
					}
				}
			}

			.faq-content {
				padding-top:    10px;
				display:        none;
				line-height:    14px;
				border-bottom:  1px solid #eaeaea;
				padding-bottom: 15px;
				margin-bottom:  15px;

				div {
					max-width: 100%;
				}

				p {
					line-height: 25px;
					font-size:   14px;
					margin:      10px 0;

					&:first-child {
						margin-top: 0;
					}

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}

	}
}
