.wponion-element {
  padding: 30px;

  .wponion-desc {
	margin-top:    10px;
	margin-bottom: 0;
	font-style:    italic;
	font-weight:   400;
	color:         #666;
	font-size:     13px;
  }

  .wponion-field-title {
	position: relative;
	width:    20%;
	float:    left;
	h4 {
	  margin:      0;
	  font-size:   14px;
	  color:       #23282d;
	  font-weight: 600;
	}
  }

  .wponion-fieldset {
	margin-left: 20%;
  }

  .wponion-help {
	position: absolute;
	padding:  5px;
	color:    #aaa;
	right:    20px;
	top:      0;
	cursor:   pointer;
	&:hover {
	  color: #666;
	}
  }

  &.wponion-element-no-title {
	.wponion-fieldset {
	  margin: 0;
	}
  }

  &.wponion-element-has-error {
	.wponion-field-errors {
	  display: block;
	}
  }

  &.wponion-field-debug {
	a.wponion-field-debug-handle {
	  position: absolute;
	  left:     0px;
	  opacity:  0;
	  cursor:   pointer;
	}
	&:hover {
	  a.wponion-field-debug-handle {
		opacity: 0.75;
		> .badge {
		  font-size:                 90%;
		  padding:                   5px 10px;
		  border-top-left-radius:    0;
		  border-bottom-left-radius: 0;
		}
	  }
	}
  }

  + .wponion-element {
	border-top: 1px solid #dadada;
  }

  /**###########################################
   * Below Are related To Fields.
   ############################################*/

  @import "./fields/clone_field";
  @import "./fields/fieldset";

  /*User Usable Fields*/
  @import "./fields/textarea";
  @import "./fields/check_radio";

  /** UI Related Fields.*/
  @import "./fields/heading_subheading_notice";
  @import "./fields/bootstrap-fields";
  @import "./fields/accordion";

  &.wponion-element-font {
	.wponion-font-select-container {
	  margin-right: 10px;
	  min-width:    200px;
	  display:      inline-block;
	}
	select {
	  min-width: 200px;
	}
  }
}

/** Icon Picker Style */
@import "./fields/icon_picker";

/* Basic Styles. */
.wponion-framework {
  .wponion-field-errors {
	font-size:  100%;
	margin-top: 10px;
	ul {
	  margin:     0;
	  list-style: inside;
	}

  }

  .wponion-framework-header {
	h1 {
	  padding: 0;
	}
	p {
	  font-style:    italic;
	  color:         #606060;
	  font-size:     14px;
	  margin-bottom: 10px;
	  margin-top:    10px;
	}
  }

  .wponion-row {
	margin:        0;
	border-bottom: 1px solid #dadada;
	.col + .col {
	  border-left: 1px solid #dadada;
	  border-top:  none;
	}
  }
}

/* Global / Field Debug POPUP Style Codes. */
.wponion-field-debug-popup {
  .wponion-field-debug-notice {
	margin-top:       -2px;
	color:            red;
	padding:          10px;
	background-color: white;
	font-size:        11px;
  }
}

.wponion-global-debug-handle {
  position:         fixed;
  width:            60px;
  height:           60px;
  bottom:           40px;
  right:            40px;
  background-color: #0C9;
  color:            #FFF;
  border-radius:    50px;
  text-align:       center;
  box-shadow:       2px 2px 3px #999;
  font-size:        25px;
  outline:          none;
  &:hover, &:focus {
	outline:         none;
	text-decoration: none;
  }
  i {
	margin:     0 auto;
	margin-top: 30%;
  }
}

#wponion-global-debug-content {
  .jsonview {
	font-size:  14px !important;
	margin:     0 !important;
	margin-top: 10px;
	padding:    0 !important;
	min-height: 0 !important;
	height:     100% !important;
	max-height: 520px;
  }
}

