.wponion-element {
  padding: 30px;

  .wponion-desc {
	margin-top:    10px;
	margin-bottom: 0;
	font-style:    italic;
	font-weight:   400;
	color:         #666;
	font-size:     13px;
  }

  .wponion-field-title {
	position: relative;
	width:    20%;
	float:    left;
	h4 {
	  margin:      0;
	  font-size:   14px;
	  color:       #23282d;
	  font-weight: 600;
	}
  }

  .wponion-fieldset {
	margin-left: 20%;
  }

  .wponion-help {
	position: absolute;
	padding:  5px;
	color:    #aaa;
	right:    20px;
	top:      0;
	cursor:   pointer;
	&:hover {
	  color: #666;
	}
  }

  &.wponion-element-no-title {
	.wponion-fieldset {
	  margin: 0;
	}
  }

  &.wponion-element-has-error {
	.wponion-field-errors {
	  display: block;
	}
  }
}

.wponion-element + .wponion-element {
  border-top: 1px solid #dadada;
}

.wponion-framework {
  .wponion-field-errors {
	font-size:  100%;
	margin-top: 10px;
	ul {
	  margin:     0;
	  list-style: inside;
	}

  }

  .wponion-framework-header {
	h1 {
	  padding: 0;
	}
	p {
	  font-style:    italic;
	  color:         #606060;
	  font-size:     14px;
	  margin-bottom: 10px;
	  margin-top:    10px;
	}
  }
}

/**
 * Below Are related To Fields.
 */

.wponion-element {
  /*********************************************************************************************************************
   * User Usable Fields
   ********************************************************************************************************************/
  /** Textarea **/
  &.wponion-element-textarea {
	textarea {
	  min-width:  500px;
	  resize:     both;
	  max-width:  100%;
	  min-height: 125px;
	}
  }

  &.wponion-element-checkbox, &.wponion-element-radio {
	.wponion-checkbox-radio-group {
	  display:      inline-block;
	  min-width:    200px;
	  margin-right: 25px;
	  border:       1px solid #dadada;
	  .wponion-group-header {
		padding:       10px 15px;
		margin-bottom: 15px;
		background:    #f8f8f8;
		border-bottom: 1px solid #dadada;
		h4 {
		  margin-bottom: 0;
		  font-size:     1.0rem;
		}
	  }

	  ul.wponion-checkbox-group-lists {
		padding: 0 15px;
		li {
		  div {
			margin-bottom: 0;
		  }
		}
	  }

	  &:last-child {
		margin-right: 0;
	  }
	}
  }

  /**
   * UI Related Fields.
   */
  /** Heading Element Style. **/
  &.wponion-element-heading {
	font-size:        1.5em;
	font-weight:      bold;
	color:            #23282d;
	background-color: #f5f5f5 !important;
  }

  /** Sub Heading Element Style.**/
  &.wponion-element-subheading {
	font-size:        14px;
	font-weight:      bold;
	padding-top:      17px;
	padding-bottom:   17px;
	color:            #23282d;
	background-color: #f7f7f7 !important;
  }

  /** Notice Element Handler **/
  &.wponion-element-notice {
	margin-bottom: 0;
	border-radius: 0;
	& + .wponion-element {
	  border-top: 0;
	}
  }

  /** Boostrap Card Element. **/
  &.wponion-element-card {
	div.card {
	  margin-top: 0;
	  padding:    0;
	  box-shadow: none;
	  max-width:  none;
	}
  }

  /** Boostrap well/jambotron **/
  &.wponion-element-jambo_content {
	padding: 0 !important;
	div.jumbotron {
	  margin-bottom: 0;
	  border-radius: 0;
	}
  }

}