.wponion {
  &-element {
	padding: 30px;
	.wponion- {
	  &desc {
		margin-top:    10px;
		margin-bottom: 0;
		font-style:    italic;
		font-weight:   400;
		color:         #666;
		font-size:     13px;
	  }
	  &field-title {
		position: relative;
		width:    20%;
		float:    left;
		h4 {
		  margin:      0;
		  font-size:   14px;
		  color:       #23282d;
		  font-weight: 600;
		}
	  }
	  &fieldset {
		margin-left: 20%;
	  }
	  &help {
		position: absolute;
		padding:  5px;
		color:    #aaa;
		right:    20px;
		top:      0;
		cursor:   pointer;
		&:hover {
		  color: #666;
		}
	  }
	}
	+ .wponion-element {
	  border-top: 1px solid #dadada;
	}

	&.wponion- {
	  &element- {
		&no-title {
		  .wponion-fieldset {
			margin: 0;
		  }
		}
		&has-error {
		  .wponion-field-errors {
			display: block;
		  }
		}
	  }
	  &field-debug {
		> .wponion-field-title > a.wponion-field-debug-handle {
		  position: absolute;
		  left:     0px;
		  opacity:  0;
		  cursor:   pointer;
		}
		&:hover {
		  > .wponion-field-title > a.wponion-field-debug-handle {
			opacity: 0.75;
			> .badge {
			  font-size:                 90%;
			  padding:                   5px 10px;
			  border-top-left-radius:    0;
			  border-bottom-left-radius: 0;
			}
		  }
		}
	  }
	}
	&.hirozantal {
	  > .wponion-field-title {
		width:         100%;
		float:         none;
		display:       block;
		margin-bottom: 10px;
	  }
	  > .wponion-fieldset {
		margin-left: 0;
		float:       none;
	  }
	}
	.wponion-input-group {
	  display: inline-block;
	  .input-group {
		display:    inline-block;
		padding:    5px;
		width:      auto;
		background: #f2f2f2;
		border:     1px solid #dedede;
		&.input-group-before {
		  border-right: none;
		}
		&.input-group-after {
		  border-left: none;
		}
	  }
	}
  }

  /* Basic Styles. */
  &-framework {
	.wponion-field-errors {
	  font-size:  100%;
	  margin-top: 10px;
	  ul {
		margin:     0;
		list-style: inside;
	  }
	}

	.wponion-framework-header {
	  h1 {
		padding: 0;
	  }
	  p {
		font-style:    italic;
		color:         #606060;
		font-size:     14px;
		margin-bottom: 10px;
		margin-top:    10px;
	  }
	}

	.wponion-row {
	  margin:        0;
	  border-bottom: 1px solid #dadada;
	  .col + .col {
		border-left: 1px solid #dadada;
		border-top:  none;
	  }
	}
  }

  /* Global / Field Debug POPUP Style Codes. */
  &-field-debug-popup {
	.wponion-field-debug-notice {
	  margin-top:       -2px;
	  color:            red;
	  padding:          10px;
	  background-color: white;
	  font-size:        11px;
	}
  }

  &-global-debug-handle {
	position:         fixed;
	width:            60px;
	height:           60px;
	bottom:           40px;
	right:            40px;
	background-color: #0C9;
	color:            #FFF;
	border-radius:    50px;
	text-align:       center;
	box-shadow:       2px 2px 3px #999;
	font-size:        25px;
	outline:          none;
	&:hover, &:focus {
	  outline:         none;
	  text-decoration: none;
	}
	i {
	  margin:     0 auto;
	  margin-top: 30%;
	}
  }
}

#wponion-global-debug-content {
  .jsonview {
	font-size:  14px !important;
	margin:     0 !important;
	margin-top: 10px;
	padding:    0 !important;
	min-height: 0 !important;
	height:     100% !important;
	max-height: 520px;
  }
}

@import "./fields/heading_subheading_notice";
@import "./fields/bootstrap-fields";
@import "./fields/tab";
@import "./fields/accordion_group_fieldset";
@import "./fields/checkbox_radio_imageselect_switcher";
@import "./fields/textarea_keyvalue";
@import "./fields/font_picker";
@import "./fields/color_palette_picker";
@import "./fields/clone_field";
@import "./fields/image_gallery";
@import "./fields/icon_picker";