body.wp-customizer {
	.flatpickr-calendar {
		z-index: 9999999;
	}

	.wponion-framework.wponion-module-customizer {
		> .wponion-element {
			> .wpo-row {
				.wponion-field-title, .wponion-fieldset {
					padding-right: 0;
				}
			}

		}

		.wponion-element {
			> div {
				max-width: 100%;
			}

			.wponion-field-title {
				display:       block;
				width:         100%;
				margin-bottom: 10px;
			}

			.wponion-fieldset {
				width:       100%;
				display:     block;
				margin-left: 0 !important;
			}

			.wponion-input-group {
				display: inline-block;

				input {
					width:     auto;
					min-width: 200px;
				}

				+ .wponion-input-group {
					margin-bottom: 10px !important;
				}
			}

			.wponion-keyvalue_wrap {
				.wponion-keyvalue-field, .wponion-keyvalue-field {
					margin-bottom: 15px;

					> .wponion-input-group {
						width:  100%;
						margin: 0;
					}
				}

				+ button {
					margin-bottom: 10px;
				}
			}

			&.wponion-element-subheading {
				padding: $element_gurtter !important;
			}
		}
	}

	li.customize-control.wponion-field {
		margin-bottom: 15px;
		padding:       15px 0;
		border-bottom: 1px solid #dedede;

		&:first-child {
			padding-top: 0;
		}

		&:last-child {
			padding-bottom: 0;
			border-bottom:  none;
		}

		> .wponion-framework.wponion-module-customizer {
			> .wponion-element {
				padding: 0;
			}
		}
	}

	.swal2-container, .tippy-popper {
		z-index: 9999999999999999999999999999999999999999999 !important;
	}
}
