.postbox.wponion-metabox {
	z-index: 0;

	.inside {
		padding: 0;
		margin:  0 !important;

		.ajax-container {
			display:    block;
			max-width:  100%;
			background: #fff;
			text-align: right;
			border-top: 1px solid #eee;
		}
	}

	&.wponion-metabox-side {
		.inside {
			.content-wrap {
				> .wponion-element {
					@include wponion_field_horizontal();
				}
			}
		}
	}
}

.wponion-core-custom-metabox {
	> h2.hndle {
		margin:    0;
		padding:   8px 12px;
		font-size: 14px;
	}
}

