.postbox.wponion-metabox {
	z-index: 0;
	.inside {
		padding: 0;
		margin:  0 !important;
		.wponion-metabox-inside-wrap {
			.wponion-metabox-content-wrap {
				float:          left;
				width:          100%;
				max-width:      100%;
				padding-top:    $element_gurtter;
				padding-bottom: $element_gurtter;
				background:     #fff;

				> .wponion-element {
					width:     auto;
					max-width: 100%;
				}

				> .wponion-row, .wponion-element {
					padding-left:  $element_gurtter;
					padding-right: $element_gurtter;
				}
				> .wponion-row {
					margin: 0;
					> div {
						padding: 0;
					}
				}

				.wponion-parent-wraps, .wponion-section-wraps {
					> .wponion-element {
						width:     auto;
						max-width: 100%;
					}
					> .wponion-row, .wponion-element {
						padding-left:  $element_gurtter;
						padding-right: $element_gurtter;
					}
					> .wponion-row {
						margin: 0;
						> div {
							padding: 0;
						}
					}
				}
			}
		}
		.ajax-container {
			display:    block;
			max-width:  100%;
			background: #fff;
			text-align: right;
			border-top: 1px solid #eee;
		}
	}

	&.wponion-metabox-side {
		.inside {
			.wponion-metabox-inside-wrap {
				.wponion-metabox-menu-wrap, .wponion-metabox-menu-bg-wrap {
					display:    none;
					visibility: hidden;
				}
				.wponion-metabox-content-wrap {
					width:       100% !important;
					max-width:   100%;
					padding-top: 0;
					.wponion-parent-wraps {
						> .wponion-element {
							padding: 15px;
							@include wponion_field_horizontal();
						}
					}
				}
			}
		}
	}
}

.wponion-core-custom-metabox {
	> h2.hndle {
		margin:    0;
		padding:   8px 12px;
		font-size: 14px;
	}
}

