.wponion-module-user_profile {
	margin: 15px 0 15px -15px;

	> .wponion-element {
		border: 0;

		/*> .wpo-row {
			> .wponion-fieldset {
				> .wponion-accordion-wrap {
					>
				}
			}
		}*/
	}

	.wponion-accordion-content {
		padding-left:  0 !important;
		padding-right: 0 !important;
	}
}
