.wponion-framework.wponion-module-vc {
	margin-left:  -18px;
	margin-right: -18px;

	> .wponion-element {
		margin-bottom: 0 !important;
		//@include wponion_field_horizontal();
	}

	.wponion-element {
		&.wponion-element-checkbox {
			input[type="checkbox"] {
				margin-right: 10px;
			}
		}

		&.wponion-element-radio {
			input[type="radio"] {
				display:        inline-block;
				width:          auto;
				margin-right:   10px;
				vertical-align: middle;
			}
		}

		&.wponion-element-upload {
			input {
				max-width: 75%;
				width:     75%;
			}
		}

		&.wponion-element-icon_picker {
			input {
				max-width: 50%;
				width:     50%;
			}
		}

		&.wponion-element-heading {

		}
	}
}
