.wponion-framework.wponion-widget {
	margin-left:  -15px;
	margin-right: -15px;
	margin-top:   0px;

	> .wponion-element {
		@include wponion_field_horizontal();

		&:last-child {
			margin-bottom: 15px;
			border-bottom: $element_border;
		}
	}
}
