.wponion-framework.wponion-module-woocommerce-framework {
  input {
	width: auto;
	float: none;
  }
  .wponion-element {
	.wponion-field-title {
	  h4 {
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	  }
	}
  }
}

