#woocommerce-product-data {
	.woocommerce_options_panel {
		> .wponion-framework.wponion-wc_product {
			> .row {
				margin: 0;
			}
		}
	}

	// Style Fixes.
	.wponion-desc {
		float:   left;
		width:   100%;
		padding: 0;
	}

	// Chosen Select
	.chosen-search {
		float: left;
	}

	.ui-accordion .ui-accordion-content {
		padding: 0;
	}
}

.wponion-woocommerce-variation.wponion-framework.wponion-wc_product {
	display: block;
	width:   100%;
	float:   left;

	> .row {
		> .wponion-element {
			border: none;
			@include wponion_field_horizontal();
		}
	}
}

.wponion-framework.wponion-woocommerce_settings {
	> .row {
		margin-left:  -12px;
		margin-right: -12px;
	}
}
