.woocommerce_options_panel {
	> .wponion-framework.wponion-woocoomerce_product {
		> .row {
			margin: 0;
		}
	}
}

.wponion-woocommerce-variation.wponion-framework.wponion-woocoomerce_product {
	display: block;
	width:   100%;
	float:   left;

	> .row {
		> .wponion-element {
			border: none;
			@include wponion_field_horizontal();
		}
	}
}
