.wponion-framework.wponion-wp_lite-theme {
	&.wponion-module-settings {
		header {
			.inner-container {
				.left {
					h1 {
						padding-top: 0;
					}

					p {
						margin: 5px 0;
					}
				}

				.right {
					text-align:     right;
					vertical-align: middle;

					.action-search, .action-buttons {
						display:        inline-block;
						margin-right:   10px;
						vertical-align: middle;
						text-align:     right;

						input {
							transition: width 0.8s;
							width:      250px;

							&:focus {
								width: 450px;
							}
						}
					}
				}
			}
		}

		footer {
			margin-top:  10px;
			border-top:  1px solid #ccc;
			padding-top: 10px;

			.right {
				text-align: right;
			}
		}

		.main-content {

			.wponion-subnav-container {
				width:         100%;
				margin-top:    0;
				display:       inline-block;
				margin-bottom: 5px;

				ul {
					vertical-align: middle;

					li {
						vertical-align: middle;
						margin-right:   5px;

						a {
							font-size:      14px;
							vertical-align: middle;
						}
					}
				}
			}

			.wponion-container-wraps {
				&.wponion-sub-container-wraps {
					display: block;
					width:   100%;
				}
			}
		}
	}
}
