.wponion-element.wponion-has-badge {
	position: relative;

	> .wpo-badge-container {
		position: absolute;

		> .wpo-badge {
			&:not(.wpo-badge-pill) {
				border-radius: 0;
			}

			vertical-align: top;
		}


		&.wpo-badge- {
			&top-left, &bottom-left {
				> .wpo-badge.wpo-badge-pill {
					border-top-left-radius:    0;
					border-bottom-left-radius: 0;
				}
			}

			&top-right, &bottom-right {
				> .wpo-badge.wpo-badge-pill {
					border-top-right-radius:    0;
					border-bottom-right-radius: 0;
				}
			}


			&top- {
				&left, &right, &center {
					@each $color, $value in $theme-colors {
						&.wpo-badge-type-#{$color} {
							border-top: 1px solid $value;
						}
					}

					> .wpo-badge-outline {
						border-top: 0;
					}
				}

				&left {
					top:   -1px;
					left:  -1px;
					right: 0;
				}

				&right {
					top:        -1px;
					right:      -1px;
					left:       0;
					text-align: right;
				}

				&center {
					top:        -1px;
					right:      0;
					left:       0;
					text-align: center;
				}
			}

			&bottom- {
				&left {
					bottom: -2px;
					left:   -1px;
					right:  0;
				}

				&right {
					bottom:     -2px;
					right:      -1px;
					left:       0;
					text-align: right;
				}

				&center {
					bottom:     -2px;
					right:      0;
					left:       0;
					text-align: center;
				}

				&left, &right, &center {
					bottom:  -1px;
					z-index: 1;

					> .wpo-badge {
						vertical-align: bottom;
					}

					@each $color, $value in $theme-colors {
						&.wpo-badge-type-#{$color} {
							border-bottom: 1px solid $value;
						}
					}

					> .wpo-badge-outline {
						border-bottom: 0;
					}
				}
			}
		}
	}
}
