// Base Elements Style.
.wponion {
  &-element {
	padding: 30px;
	.wponion- {
	  &desc {
		margin-top:    10px;
		margin-bottom: 0;
		font-style:    italic;
		font-weight:   400;
		color:         #666;
		font-size:     13px;
	  }
	  &field-title {
		position: relative;
		width:    20%;
		float:    left;
		h4 {
		  margin:      0;
		  font-size:   14px;
		  color:       #23282d;
		  font-weight: 600;
		}
	  }
	  &fieldset {
		margin-left: 20%;
	  }
	  &help {
		position: absolute;
		padding:  5px;
		color:    #aaa;
		right:    20px;
		top:      0;
		cursor:   pointer;
		&:hover {
		  color: #666;
		}
	  }
	}
	+ .wponion-element {
	  border-top: 1px solid #dadada;
	}
	&.wponion- {
	  &element- {
		&no-title {
		  .wponion-fieldset {
			margin: 0;
		  }
		}
		&has-error {
		  .wponion-field-errors {
			display: block;
			color:   red;
		  }
		}
	  }
	  &field-debug {
		> .wponion-field-title > a.wponion-field-debug-handle {
		  position: absolute;
		  left:     0px;
		  opacity:  0;
		  cursor:   pointer;
		}
		&:hover {
		  > .wponion-field-title > a.wponion-field-debug-handle {
			opacity: 0.75;
			> .badge {
			  font-size:                 90%;
			  padding:                   5px 10px;
			  border-top-left-radius:    0;
			  border-bottom-left-radius: 0;
			}
		  }
		}
	  }
	}
	&.horizontal {
	  @include wponion_field_horizontal();
	}
	.wponion-input-group {
	  display: inline-block;
	  .input-group {
		display:    inline-block;
		padding:    5px;
		width:      auto;
		background: #f2f2f2;
		border:     1px solid #dedede;
		&.input-group-before {
		  border-right: none;
		}
		&.input-group-after {
		  border-left: none;
		}
	  }
	}
  }

  /* Basic Styles. */
  &-framework {
	.wponion-field-errors {
	  font-size:  100%;
	  margin-top: 10px;
	  ul {
		margin:     0;
		list-style: inside;
	  }
	}
	.wponion-framework-header {
	  h1 {
		padding: 0;
	  }
	  p {
		font-style:    italic;
		color:         #606060;
		font-size:     14px;
		margin-bottom: 10px;
		margin-top:    10px;
	  }
	}
	.wponion-row {
	  margin:        0;
	  border-bottom: 1px solid #dadada;
	  .col + .col {
		border-left: 1px solid #dadada;
		border-top:  none;
	  }
	}
  }

  /* Global / Field Debug POPUP Style Codes. */
  &-field-debug-popup {
	.wponion-field-debug-notice {
	  margin-top:       -2px;
	  color:            red;
	  padding:          10px;
	  background-color: white;
	  font-size:        11px;
	}
  }
  &-global-debug-handle {
	position:         fixed;
	width:            60px;
	height:           60px;
	bottom:           40px;
	right:            40px;
	background-color: #0C9;
	color:            #FFF;
	border-radius:    50px;
	text-align:       center;
	box-shadow:       2px 2px 3px #999;
	font-size:        25px;
	outline:          none;
	&:hover, &:focus {
	  outline:         none;
	  text-decoration: none;
	}
	i {
	  margin:     0 auto;
	  margin-top: 30%;
	}
  }
}

// Common Field Includes
@import "accordion_group/common";
@import "cards/common";
@import "checkbox/common";
@import "checkbox_radio_image_select/common";
@import "clone_field/common";
@import "color_palette/common";
@import "color_picker/common";
@import "content/common";
@import "fieldset/common";
@import "font_picker/common";
@import "heading/common";
@import "icon_picker/common";
@import "image_gallery/common";
@import "image_select/common";
@import "jambo_content/common";
@import "key_value/common";
@import "notice/common";
@import "radio/common";
@import "subheading/common";
@import "switcher/common";
@import "tab/common";
@import "text/common";
@import "textarea/common";
@import "background/common";
@import "date_picker/common";

// Styles Based on Modules.
.wponion-framework {
  // WPOnion Settings Module
  &.wponion-module-settings {
	@import "accordion_group/settings";
	@import "cards/settings";
	@import "checkbox/settings";
	@import "checkbox_radio_image_select/settings";
	@import "clone_field/settings";
	@import "color_palette/settings";
	@import "color_picker/settings";
	@import "content/settings";
	@import "fieldset/settings";
	@import "font_picker/settings";
	@import "heading/settings";
	@import "icon_picker/settings";
	@import "image_gallery/settings";
	@import "image_select/settings";
	@import "jambo_content/settings";
	@import "key_value/settings";
	@import "notice/settings";
	@import "radio/settings";
	@import "subheading/settings";
	@import "switcher/settings";
	@import "tab/settings";
	@import "text/settings";
	@import "textarea/settings";
	@import "background/settings";
  }

  // WPOnion Metabox Module.
  &.wponion-module-metabox {
	@import "background/metabox";
	@import "accordion_group/metabox";
	@import "cards/metabox";
	@import "checkbox/metabox";
	@import "checkbox_radio_image_select/metabox";
	@import "clone_field/metabox";
	@import "color_palette/metabox";
	@import "color_picker/metabox";
	@import "content/metabox";
	@import "fieldset/metabox";
	@import "font_picker/metabox";
	@import "heading/metabox";
	@import "icon_picker/metabox";
	@import "image_gallery/metabox";
	@import "image_select/metabox";
	@import "jambo_content/metabox";
	@import "key_value/metabox";
	@import "notice/metabox";
	@import "radio/metabox";
	@import "subheading/metabox";
	@import "switcher/metabox";
	@import "tab/metabox";
	@import "text/metabox";
	@import "textarea/metabox";

	// Metabox Side View
	&.wponion-module-metabox-side {
	  @import "textarea/metabox-side";
	  @import "checkbox_radio_image_select/metabox-side";
	  @import "color_picker/metabox-side";
	  @import "image_select/metabox-side";
	  @import "font_picker/metabox-side";
	  @import "key_value/metabox-side";
	  @import "background/metabox-side";
	}
  }

  // WPOnion Customizer Module.
  &.wponion-module-customizer {
	@import "accordion_group/customizer";
	@import "cards/customizer";
	@import "checkbox/customizer";
	@import "checkbox_radio_image_select/customizer";
	@import "clone_field/customizer";
	@import "color_palette/customizer";
	@import "color_picker/customizer";
	@import "content/customizer";
	@import "fieldset/customizer";
	@import "font_picker/customizer";
	@import "heading/customizer";
	@import "icon_picker/customizer";
	@import "image_gallery/customizer";
	@import "image_select/customizer";
	@import "jambo_content/customizer";
	@import "key_value/customizer";
	@import "notice/customizer";
	@import "radio/customizer";
	@import "subheading/customizer";
	@import "switcher/customizer";
	@import "tab/customizer";
	@import "text/customizer";
	@import "textarea/customizer";
	@import "background/customizer";
  }

  // WPOnion Taxonomy Module.
  &.wponion-module-taxonomy {
	@import "accordion_group/taxonomy";
	@import "cards/taxonomy";
	@import "checkbox/taxonomy";
	@import "checkbox_radio_image_select/taxonomy";
	@import "clone_field/taxonomy";
	@import "color_palette/taxonomy";
	@import "color_picker/taxonomy";
	@import "content/taxonomy";
	@import "fieldset/taxonomy";
	@import "font_picker/taxonomy";
	@import "heading/taxonomy";
	@import "icon_picker/taxonomy";
	@import "image_gallery/taxonomy";
	@import "image_select/taxonomy";
	@import "jambo_content/taxonomy";
	@import "key_value/taxonomy";
	@import "notice/taxonomy";
	@import "radio/taxonomy";
	@import "subheading/taxonomy";
	@import "switcher/taxonomy";
	@import "tab/taxonomy";
	@import "text/taxonomy";
	@import "textarea/taxonomy";
	@import "background/taxonomy";
  }

  // WPOnion WC Metabox
  &.wponion-module-woocommerce {
	@import "accordion_group/woocommerce";
	//@import "cards/woocommerce";
	//@import "checkbox/woocommerce";
	@import "checkbox_radio_image_select/woocommerce";
	//@import "clone_field/woocommerce";
	@import "color_palette/woocommerce";
	@import "color_picker/woocommerce";
	//@import "content/woocommerce";
	@import "fieldset/woocommerce";
	//@import "font_picker/woocommerce";
	//@import "heading/woocommerce";
	//@import "icon_picker/woocommerce";
	//@import "image_gallery/woocommerce";
	//@import "image_select/woocommerce";
	//@import "jambo_content/woocommerce";
	//@import "key_value/woocommerce";
	//@import "notice/woocommerce";
	//@import "radio/woocommerce";
	//@import "subheading/woocommerce";
	//@import "switcher/woocommerce";
	//@import "tab/woocommerce";
	//@import "text/woocommerce";
	@import "textarea/woocommerce";
	@import "background/woocommerce";
  }

  &.wponion-module-user_profile {}
}