/*============================ New STYLE BELOW =====================*/
p.wponion-error {
	color:  #dc3232;
	margin: 2px 0 5px;
}

input.wponion-error.wponion-error, textarea.wponion-error, select.wponion-error {
	border-color: #dc3232;
	background:   #ffebe8;
}

.wponion-sub-container-wraps.row, .wponion-container-wraps.row {
	&.hidden {
		display: none;
	}
}

.wponion-element {
	padding: $element_gurtter;

	+ .wponion-element {
		border-top: $element_border;
	}

	&.wponion-search-matched {
		width:      100% !important;
		max-width:  100% !important;
		flex-basis: 100% !important;
	}

	&.hidden {
		display: none;
	}

	.wponion-field-debug-handle {
		display: none;
	}

	.wponion-desc {
		margin-bottom: 8px;
		font-size:     13px;
		font-style:    italic;
		color:         #666;
		margin-top:    8px;
	}

	.row {
		> .wponion-element-title {
			h4 {
				margin:       0;
				font-size:    14px;
				display:      inline-block;
				margin-right: 5px;
			}
		}

		> .wponion-fieldset {
		}
	}

	&.horizontal {
		@include wponion_field_horizontal();
	}
}

/*============================ OLD STYLE BELOW =====================*/

@import "text/core";
@import "textarea/core";
@import "checkbox_radio/core";
@import "select/core";
@import "switcher/core";
@import "button_set/core";
@import "cloner/core";
@import "sorter/core";
@import "input_group/core";
@import "key_value/core";
@import "fieldset/core";
@import "accordion/core";
@import "group/core";
@import "image/core";
@import "gallery/core";
@import "oembed/core";
@import 'color_picker/core';
@import "icon_picker/core";
@import "font_picker/core";
@import "date_picker/core";
@import "image_select/core";
@import "background/core";
@import "spacing/core";
@import "upload/core";
@import "color_palette/core";
@import "tabs/core";
@import "notice/core";
@import "heading/core";
@import "google_maps/core";
@import "jambo_content/core";
@import "typography/core";
@import "backup/core";
@import "change_log/core";
@import "color_group/core";
@import "content/core";
