.wponion-element.wponion-element-key_value {
	.wponion-keyvalue_wrap {
		padding:        10px;
		padding-bottom: 0;
		background:     white;
		border:         $element_border;
		display:        inline-block;

		@include respond-to('xs') {
			padding: 0;
			border:  none;
		}

		.wponion-keyvalue-field {
			margin-bottom: 17px;

			&:first-child {
				button {
					visibility: hidden;
				}
			}

			.button {
				vertical-align: top;
			}

			.sortable-handler {
				display:        inline-block;
				vertical-align: top;
				margin-right:   10px;
				color:          #666;
				padding:        5px 0px;

				@include respond-to('xs', 'sm') {
					margin-right: 5px;
					display:      none;
				}
			}

			.wponion-input-group-wrap {
				display:        inline-block;
				margin-right:   15px;
				vertical-align: middle;

				@include respond-to('xs', 'sm') {
					margin-right:   5px;
					min-width:      100px;
					max-width:      40% !important;
					vertical-align: top;
					.wponion-form-control {
						min-width: 100px;
						max-width: 65%;
					}
				}

				+ button {
					vertical-align: middle;
				}
			}

			&.ui-sortable-helper {
				> .button {
					display: none;
				}
			}
		}

		margin-bottom:  15px;
	}

	.wponion-keyvalue-action-container {
	}
}

.wponion-framework.wponion-module-customizer {
	.wponion-element.wponion-element-key_value {
		.wponion-keyvalue-field {
			position:   relative;
			text-align: right;

			.sortable-handler {
				position:      absolute;
				bottom:        0;
				margin-bottom: 0;
				left:          0px;
			}

			.wponion-input-group-wrap {
				display:       block;
				margin-bottom: 10px !important;

				input {
					text-align: left;
				}
			}

			+ .wponion-keyvalue-field {
				padding-top: 10px;
				border-top:  $element_border;
			}
		}
	}
}
