.wponion-element.wponion-element-key_value {
	.wponion-keyvalue_wrap {
		padding:        10px;
		padding-bottom: 0;
		background:     white;
		border:         $element_border;
		display:        inline-block;


		.wponion-keyvalue-field {
			margin-bottom: 17px;

			&:first-child {
				button {
					visibility: hidden;
				}
			}

			.button {
				vertical-align: middle;
			}

			.sortable-handler {
				display:        inline-block;
				vertical-align: middle;
				margin-right:   10px;
				color:          #666;
				padding:        5px 0px;
			}

			.wponion-input-group {
				display:        inline-block;
				margin-right:   15px;
				vertical-align: middle;
			}
		}

		margin-bottom:  15px;
	}

	.wponion-keyvalue-action-container {
		padding: 10px;
	}
}
