.wponion-element.wponion-element-import_export {
	textarea {
		min-width:  400px;
		min-height: 200px;

		&#backup-export-field {
			background: #e3e3e3;
			color:      #575353;
		}
	}

	.export-actions {
		display:    inline-block;
		width:      100%;
		margin-top: 10px;
	}
}
