.wponion-element.wponion-element-image_select {
  input[type="checkbox"], input[type="radio"] {
	display:    none;
	visibility: hidden;
  }

  .form-check {
	display:      inline-block;
	margin-right: 15px;
	label {
	  display: inline-block;
	}
	input {
	  &:checked + .wponion-image-select-thumbnail {
		border-color: #64bd1f;
		&:after {
		  content:                "\f147";
		  font-family:            dashicons;
		  background-color:       #64bd1f;
		  position:               absolute;
		  right:                  0px;
		  bottom:                 0px;
		  border-top-left-radius: 2px;
		  color:                  #fff;
		  line-height:            normal;
		  font-size:              20px;
		  padding:                1px 0 0 1px;
		}
	  }
	}
	.wponion-image-select-thumbnail {
	  border:        3px solid transparent;
	  padding:       2px;
	  border-radius: 2px;
	  position:      relative;
	  line-height:   0;
	  overflow:      hidden;
	}
  }

  .wponion-fieldset {
	.wponion-checkbox-radio-group {
	  display:      block;
	  margin-right: 0;
	}

	.wponion-checkbox-group-lists {
	  li {
		display:      inline-block;
		margin-right: 0;
	  }
	}
  }

}