/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||
|| Checkbox,Radio,Image Select,Switcher Element Styles ||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
.wponion-element.wponion-element-image_select {
  .form-group {
	padding:       0;
	display:       inline-block;
	margin-right:  0px;
	margin-bottom: 10px;
  }
}