.wponion-element.wponion-element-google_maps {

	.map_container {
		display:  inline-block;
		width:    100%;
		position: relative;

		&.with-map {
			display:       inline-block;
			position:      relative;
			width:         100%;
			min-height:    400px;
			margin:        0 auto;
			float:         none;
			border:        $element_border;
			border-bottom: none;

			.searchbox {
				display:                 block;
				z-index:                 1;
				border-top-right-radius: 3px;
				border-top-left-radius:  3px;
				background:              #4d90fe;
				padding-top:             5px;
				padding-bottom:          5px;
				padding-left:            5px;

				input {
					border:         none;
					border-radius:  3px;
					margin-left:    1px;
					margin-top:     1px;
					margin-bottom:  1px;
					padding:        5px 10px;
					min-width:      50%;
					vertical-align: middle;
				}

				select {
					width:          10%;
					margin:         0;
					vertical-align: middle;
					line-height:    0;
					margin-left:    25px;
					height:         30px;
					border-radius:  3px;
					padding:        0;
				}
			}

			.map_canvas {
				min-height: 400px;
				min-width:  400px;
				display:    inline-block;
				width:      100%;
			}
		}
	}

	.map_fields {
		margin-top:                 -5px;
		border:                     $element_border;
		border-top:                 none;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius:  3px;
		float:                      none;
		position:                   relative;
		display:                    inline-block;
		width:                      100%;
	}
}
