.wponion-element.wponion-element-upload {
	input {
		min-width:    25%;
		margin-right: 15px;
		display:      inline-block;
	}
}

.wponion-framework.wponion-module-customizer {
	.wponion-element.wponion-element-upload {
		input {
			margin-bottom: 15px;
		}
	}
}
