.wponion-element-switcher {
	.wponion-switcher-labels-container {
		display: inline-block;

		> div {
			display:        inline-block;
			vertical-align: middle;
			margin-right:   10px;
		}
	}

	ul {
		li {
			margin-bottom: $element_gurtter;

			.wponion-switcher-labels-container {
				> div {
					& + label {
						display:        inline-block;
						vertical-align: middle;
					}
				}
			}
		}
	}
}
