.selectize {
	&-control.plugin-condensed_dropdown .option {
		display: inline-block;
	}

	&-legacy {
		//@wponion-inline ../../node_modules/selectize.js/dist/css/selectize.legacy.css
	}

	&-bs2 {
		//@wponion-inline ../../node_modules/selectize.js/dist/css/selectize.bootstrap2.css
	}

	&-bs3 {
		//@wponion-inline ../../node_modules/selectize.js/dist/css/selectize.bootstrap3.css
	}

	&-default {
		//@wponion-inline ../../node_modules/selectize.js/dist/css/selectize.default.css
	}

	&-bs4 {
		//@wponion-inline ../vendors/selectize-themes/selectize-bs4.css
	}

	&-dark {
		//@wponion-inline ../vendors/selectize-themes/dark.css
	}
}
