/**
 * WPOnion Plugin's CSS
 */

@import "../vendors/json-view/json-view";
@import "../vendors/tippy";
@import "../vendors/css-checkbox-library/style.css";

/**
 * Global Utilites
 */

// Mixins & Variables.
@import "includes/mixins/wponion";
@import "includes/mixins/bootstrap";
@import "includes/variables";

// Utility Styles.
@import "./wponion-utility";
@import "./wponion-icon-fonts";

// Basic Core Styles
@import "includes/basic_style";
@import "includes/fields/fields";

//Core Fields Styles
@import "includes/modules/customizer";
@import "includes/modules/metabox";
@import "includes/modules/dashboard_widgets";
@import "includes/modules/widgets";
@import "includes/modules/taxonomy";
@import "includes/modules/user_profile";
@import "includes/modules/woocommerce";
@import "includes/modules/quick_edit";
@import "includes/modules/nav_menu";
@import "includes/modules/wp_importer";
/**
 * Themes
 */
@import "./themes/wc/style";
@import "./themes/wp-lite-wp/style";
@import "./themes/wp-modern/style";

