@import "../vendors/json-view/json-view";
@import "../vendors/tippy";

// CSS3 Checkbox Libs.
div.wponion-element-switcher {
	//@wponion-inline ../../node_modules/css-checkbox-library/dist/css/checkboxes.min.css
	.wponion-fieldset {
		> div {
			display: inline-block;
		}
	}

	.ckbx-fat {
		width: 155px !important;

		&.ckbx-style-14 {
			label {
				&:before {
					left:  80%;
					width: 80%;
				}

				&:after {
					width: 80%;
				}
			}
		}
	}

	.ckbx-style-14 {
		label {
			text-align: justify !important;

			&:before {
				content: attr(data-off);
			}

			&::after {
				content: attr(data-on);
			}
		}

	}

	.ckbx-style-9 {
		&:before {
			content: attr(data-on);
		}

		&::after {
			content: attr(data-off);
		}

		text-align: justify !important;
	}
}
