.wponion-framework.wponion-wp-theme {
  nav.nav-tab-wrapper {
	a {
	  outline: none;
	  &:focus {
		box-shadow: none;
	  }
	}
  }

  #poststuff {
	display: inline-block;
	width:   100%;

	div.postbox {
	  border: 1px solid #dadada;
	  .wponion-subnav-container {
		display:       inline-block;
		background:    #f5f5f5;
		width:         100%;
		border-bottom: 1px solid #dadada;
		padding:       0;

		.wponion-submenus {
		  margin-top:    0;
		  display:       inline-block;
		  font-size:     14px;
		  line-height:   2;
		  margin-bottom: 0;
		  width:         100%;

		  li {
			a {
			  padding:       5px 10px;
			  font-size:     14px;
			  outline:       none;
			  display:       inline-block;
			  border-right:  1px solid transparent;
			  border-left:   1px solid transparent;
			  border-bottom: 1px solid transparent;
			  margin-bottom: -1px;

			  &:focus {
				box-shadow: none;
			  }

			  &.current {
				background:    white;
				border-bottom: 1px solid white;
				border-right:  1px solid #dadada;
				border-left:   1px solid #dadada;
			  }
			}

			&:first-child {
			  a.current, a:hover, a {
				border-left: none;
			  }
			}
		  }
		}
	  }

	  div.inside {
		margin:  0 !important;
		padding: 0;

		.wponion-group-action {
		  padding: 15px;
		}
	  }
	}
  }

  .wponion-element {
	padding: 15px !important;
	width:   100%;
	&:after, &:before {
	  content: " ";
	  display: table;
	}
  }

  /* Handle Hiding Main Nav / Subnav.*/
  &.wponion-hide-nav {
	nav.nav-tab-wrapper {
	  display: none;
	}
  }

  /* Handles Page Actions */
  .wponion-form-actions {
	float:      right;
	width:      100%;
	text-align: right;
	padding:    15px;
	background: white;
	border:     1px solid #dadada;
	button {
	  float:  right;
	  margin: 0 10px;
	  &.wponion-restore, &.wponion-reset {
		float: left;
	  }
	  &.wponion-save {
		margin-right: 0;
	  }
	  &.wponion-restore {
		margin-left: 0;
	  }
	}
  }

  /* Handles Page Load Scss. */
  .wponion-page-loader {
	position:         absolute;
	top:              0;
	z-index:          1;
	background-color: rgba(255, 255, 255, 0.85);
	left:             -10px;
	&:before, &:after {
	  color:             black;
	  border-color:      rgba(0, 0, 0, 0.57);
	  border-left-color: transparent;
	}
  }
}
