$icomoon-font-family:                  "wponion" !default;
$icomoon-font-path:                    "../font/" !default;
$wpoic-icon:                           "\e907";
$wpoic-icon-small:                     "\e908";
$wpoic-logo:                           "\e909";
$wpoic-collapse:                       "\e906";
$wpoic-expand:                         "\e900";
$wpoic-clock:                          "\e901";
$wpoic-time:                           "\e901";
$wpoic-info-with-circle:               "\e902";
$wpoic-info:                           "\e903";
$wpoic-menu:                           "\e904";
$wpoic-live_help:                      "\e905";
$wpoic-remove_circledo_not_disturb_on: "\e90a";
$wpoic-remove_circle_outline:          "\e90b";
$wpoic-border_color:                   "\e90c";
$wpoic-format_color_fill:              "\e90d";
$wpoic-format_color_text:              "\e90e";
$wpoic-format_paint:                   "\e90f";
$wpoic-cloud_download:                 "\e910";
$wpoic-cloud_uploadbackup:             "\e911";
$wpoic-file_downloadget_app:           "\e912";
$wpoic-color_lenspalette:              "\e913";
$wpoic-colorize:                       "\e914";
$wpoic-delete:                         "\e915";
$wpoic-help:                           "\e916";
$wpoic-settings_backup_restore:        "\e917";
$wpoic-help_outline:                   "\e918";
$wpoic-delete_forever:                 "\e919";
$wpoic-delete_outline:                 "\e91a";
$wpoic-contact_support:                "\e91b";
$wpoic-plus:                           "\f067";
$wpoic-question:                       "\f128";
$wpoic-minus:                          "\f068";
$wpoic-envelope-o:                     "\f003";
$wpoic-check:                          "\f00c";
$wpoic-yes:                            "\f00c";
$wpoic-close:                          "\f00d";
$wpoic-remove:                         "\f00d";
$wpoic-times:                          "\f00d";
$wpoic-no:                             "\f00d";
$wpoic-check-square-o:                 "\f046";
$wpoic-all:                            "\f047";
$wpoic-arrows:                         "\f047";
$wpoic-all-direction:                  "\f047";
$wpoic-arrow-left-small:               "\f053";
$wpoic-arrow-right-small:              "\f054";
$wpoic-plus-circle:                    "\f055";
$wpoic-minus-circle:                   "\f056";
$wpoic-check-circle:                   "\f058";
$wpoic-question-circle:                "\f059";
$wpoic-check-circle-o:                 "\f05d";
$wpoic-arrow-left:                     "\f060";
$wpoic-arrow-right:                    "\f061";
$wpoic-arrow-up:                       "\f062";
$wpoic-arrow-down:                     "\f063";
$wpoic-exclamation-triangle:           "\f071";
$wpoic-warning:                        "\f071";
$wpoic-calendar:                       "\f073";
$wpoic-arrow-up-small:                 "\f077";
$wpoic-arrow-down-small:               "\f078";
$wpoic-twitter-square:                 "\f081";
$wpoic-facebook-square:                "\f082";
$wpoic-github-square:                  "\f092";
$wpoic-twitter:                        "\f099";
$wpoic-facebook:                       "\f09a";
$wpoic-facebook-f:                     "\f09a";
$wpoic-github:                         "\f09b";
$wpoic-caret-down:                     "\f0d7";
$wpoic-caret-up:                       "\f0d8";
$wpoic-caret-left:                     "\f0d9";
$wpoic-caret-right:                    "\f0da";
$wpoic-envelope:                       "\f0e0";
$wpoic-plus-square:                    "\f0fe";
$wpoic-calendar-o:                     "\f133";
$wpoic-minus-square:                   "\f146";
$wpoic-minus-square-o:                 "\f147";
$wpoic-plus-square-o:                  "\f196";
$wpoic-wordpress:                      "\f19a";
$wpoic-eyedropper:                     "\f1fb";
$wpoic-paint-brush:                    "\f1fc";
$wpoic-calendar-plus-o:                "\f271";
$wpoic-calendar-minus-o:               "\f272";
$wpoic-calendar-times-o:               "\f273";
$wpoic-calendar-check-o:               "\f274";
$wpoic-times-rectangle:                "\f2d3";
$wpoic-window-close:                   "\f2d3";
$wpoic-times-rectangle-o:              "\f2d4";
$wpoic-window-close-o:                 "\f2d4";


@font-face {
	font-family:  '#{$icomoon-font-family}';
	src:          url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?66mq8m');
	src:          url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?66mq8m#iefix') format('embedded-opentype'),
				  url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff2?66mq8m') format('woff2'),
				  url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?66mq8m') format('truetype'),
				  url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?66mq8m') format('woff'),
				  url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?66mq8m##{$icomoon-font-family}') format('svg');
	font-weight:  normal;
	font-style:   normal;
	font-display: block;
}

[class^="wpoic-"], [class*=" wpoic-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family:             '#{$icomoon-font-family}' !important;
	font-style:              normal;
	font-weight:             normal;
	speak:                   none;
	display:                 inline-block;
	text-decoration:         inherit;
	width:                   1em;
	margin-right:            .2em;
	text-align:              center;
	font-variant:            normal;
	text-transform:          none;
	line-height:             1em;
	margin-left:             .2em;
	-webkit-font-smoothing:  antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wpoic-3d {
	text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

.wpoic-icon {
	&:before {
		content: $wpoic-icon;
	}
}

.wpoic-icon-small {
	&:before {
		content: $wpoic-icon-small;
	}
}

.wpoic-logo {
	&:before {
		content: $wpoic-logo;
	}
}

.wpoic-collapse {
	&:before {
		content: $wpoic-collapse;
	}
}

.wpoic-expand {
	&:before {
		content: $wpoic-expand;
	}
}

.wpoic-clock {
	&:before {
		content: $wpoic-clock;
	}
}

.wpoic-time {
	&:before {
		content: $wpoic-time;
	}
}

.wpoic-info-with-circle {
	&:before {
		content: $wpoic-info-with-circle;
	}
}

.wpoic-info {
	&:before {
		content: $wpoic-info;
	}
}

.wpoic-menu {
	&:before {
		content: $wpoic-menu;
	}
}

.wpoic-live_help {
	&:before {
		content: $wpoic-live_help;
	}
}

.wpoic-remove_circledo_not_disturb_on {
	&:before {
		content: $wpoic-remove_circledo_not_disturb_on;
	}
}

.wpoic-remove_circle_outline {
	&:before {
		content: $wpoic-remove_circle_outline;
	}
}

.wpoic-border_color {
	&:before {
		content: $wpoic-border_color;
	}
}

.wpoic-format_color_fill {
	&:before {
		content: $wpoic-format_color_fill;
	}
}

.wpoic-format_color_text {
	&:before {
		content: $wpoic-format_color_text;
	}
}

.wpoic-format_paint {
	&:before {
		content: $wpoic-format_paint;
	}
}

.wpoic-cloud_download {
	&:before {
		content: $wpoic-cloud_download;
	}
}

.wpoic-cloud_uploadbackup {
	&:before {
		content: $wpoic-cloud_uploadbackup;
	}
}

.wpoic-file_downloadget_app {
	&:before {
		content: $wpoic-file_downloadget_app;
	}
}

.wpoic-color_lenspalette {
	&:before {
		content: $wpoic-color_lenspalette;
	}
}

.wpoic-colorize {
	&:before {
		content: $wpoic-colorize;
	}
}

.wpoic-delete {
	&:before {
		content: $wpoic-delete;
	}
}

.wpoic-help {
	&:before {
		content: $wpoic-help;
	}
}

.wpoic-settings_backup_restore {
	&:before {
		content: $wpoic-settings_backup_restore;
	}
}

.wpoic-help_outline {
	&:before {
		content: $wpoic-help_outline;
	}
}

.wpoic-delete_forever {
	&:before {
		content: $wpoic-delete_forever;
	}
}

.wpoic-delete_outline {
	&:before {
		content: $wpoic-delete_outline;
	}
}

.wpoic-contact_support {
	&:before {
		content: $wpoic-contact_support;
	}
}

.wpoic-plus {
	&:before {
		content: $wpoic-plus;
	}
}

.wpoic-question {
	&:before {
		content: $wpoic-question;
	}
}

.wpoic-minus {
	&:before {
		content: $wpoic-minus;
	}
}

.wpoic-envelope-o {
	&:before {
		content: $wpoic-envelope-o;
	}
}

.wpoic-check {
	&:before {
		content: $wpoic-check;
	}
}

.wpoic-yes {
	&:before {
		content: $wpoic-yes;
	}
}

.wpoic-close {
	&:before {
		content: $wpoic-close;
	}
}

.wpoic-remove {
	&:before {
		content: $wpoic-remove;
	}
}

.wpoic-times {
	&:before {
		content: $wpoic-times;
	}
}

.wpoic-no {
	&:before {
		content: $wpoic-no;
	}
}

.wpoic-check-square-o {
	&:before {
		content: $wpoic-check-square-o;
	}
}

.wpoic-all {
	&:before {
		content: $wpoic-all;
	}
}

.wpoic-arrows {
	&:before {
		content: $wpoic-arrows;
	}
}

.wpoic-all-direction {
	&:before {
		content: $wpoic-all-direction;
	}
}

.wpoic-arrow-left-small {
	&:before {
		content: $wpoic-arrow-left-small;
	}
}

.wpoic-arrow-right-small {
	&:before {
		content: $wpoic-arrow-right-small;
	}
}

.wpoic-plus-circle {
	&:before {
		content: $wpoic-plus-circle;
	}
}

.wpoic-minus-circle {
	&:before {
		content: $wpoic-minus-circle;
	}
}

.wpoic-check-circle {
	&:before {
		content: $wpoic-check-circle;
	}
}

.wpoic-question-circle {
	&:before {
		content: $wpoic-question-circle;
	}
}

.wpoic-check-circle-o {
	&:before {
		content: $wpoic-check-circle-o;
	}
}

.wpoic-arrow-left {
	&:before {
		content: $wpoic-arrow-left;
	}
}

.wpoic-arrow-right {
	&:before {
		content: $wpoic-arrow-right;
	}
}

.wpoic-arrow-up {
	&:before {
		content: $wpoic-arrow-up;
	}
}

.wpoic-arrow-down {
	&:before {
		content: $wpoic-arrow-down;
	}
}

.wpoic-exclamation-triangle {
	&:before {
		content: $wpoic-exclamation-triangle;
	}
}

.wpoic-warning {
	&:before {
		content: $wpoic-warning;
	}
}

.wpoic-calendar {
	&:before {
		content: $wpoic-calendar;
	}
}

.wpoic-arrow-up-small {
	&:before {
		content: $wpoic-arrow-up-small;
	}
}

.wpoic-arrow-down-small {
	&:before {
		content: $wpoic-arrow-down-small;
	}
}

.wpoic-twitter-square {
	&:before {
		content: $wpoic-twitter-square;
	}
}

.wpoic-facebook-square {
	&:before {
		content: $wpoic-facebook-square;
	}
}

.wpoic-github-square {
	&:before {
		content: $wpoic-github-square;
	}
}

.wpoic-twitter {
	&:before {
		content: $wpoic-twitter;
	}
}

.wpoic-facebook {
	&:before {
		content: $wpoic-facebook;
	}
}

.wpoic-facebook-f {
	&:before {
		content: $wpoic-facebook-f;
	}
}

.wpoic-github {
	&:before {
		content: $wpoic-github;
	}
}

.wpoic-caret-down {
	&:before {
		content: $wpoic-caret-down;
	}
}

.wpoic-caret-up {
	&:before {
		content: $wpoic-caret-up;
	}
}

.wpoic-caret-left {
	&:before {
		content: $wpoic-caret-left;
	}
}

.wpoic-caret-right {
	&:before {
		content: $wpoic-caret-right;
	}
}

.wpoic-envelope {
	&:before {
		content: $wpoic-envelope;
	}
}

.wpoic-plus-square {
	&:before {
		content: $wpoic-plus-square;
	}
}

.wpoic-calendar-o {
	&:before {
		content: $wpoic-calendar-o;
	}
}

.wpoic-minus-square {
	&:before {
		content: $wpoic-minus-square;
	}
}

.wpoic-minus-square-o {
	&:before {
		content: $wpoic-minus-square-o;
	}
}

.wpoic-plus-square-o {
	&:before {
		content: $wpoic-plus-square-o;
	}
}

.wpoic-wordpress {
	&:before {
		content: $wpoic-wordpress;
	}
}

.wpoic-eyedropper {
	&:before {
		content: $wpoic-eyedropper;
	}
}

.wpoic-paint-brush {
	&:before {
		content: $wpoic-paint-brush;
	}
}

.wpoic-calendar-plus-o {
	&:before {
		content: $wpoic-calendar-plus-o;
	}
}

.wpoic-calendar-minus-o {
	&:before {
		content: $wpoic-calendar-minus-o;
	}
}

.wpoic-calendar-times-o {
	&:before {
		content: $wpoic-calendar-times-o;
	}
}

.wpoic-calendar-check-o {
	&:before {
		content: $wpoic-calendar-check-o;
	}
}

.wpoic-times-rectangle {
	&:before {
		content: $wpoic-times-rectangle;
	}
}

.wpoic-window-close {
	&:before {
		content: $wpoic-window-close;
	}
}

.wpoic-times-rectangle-o {
	&:before {
		content: $wpoic-times-rectangle-o;
	}
}

.wpoic-window-close-o {
	&:before {
		content: $wpoic-window-close-o;
	}
}


/*
Old Icon Styles
[class^="wpoic-"]:before, [class*=" wpoic-"]:before {
	font-family:             "wponion";
	font-style:              normal;
	font-weight:             normal;
	speak:                   none;
	display:                 inline-block;
	text-decoration:         inherit;
	width:                   1em;
	margin-right:            .2em;
	text-align:              center;
	font-variant:            normal;
	text-transform:          none;
	line-height:             1em;
	margin-left:             .2em;
	-webkit-font-smoothing:  antialiased;
	-moz-osx-font-smoothing: grayscale;
}
*/
