@font-face {
	font-family: 'wponion';
	src:         url('../font/wponion.eot?62014972');
	src:         url('../font/wponion.eot?62014972#iefix') format('embedded-opentype'),
				 url('../font/wponion.woff2?62014972') format('woff2'),
				 url('../font/wponion.woff?62014972') format('woff'),
				 url('../font/wponion.ttf?62014972') format('truetype'),
				 url('../font/wponion.svg?62014972#wponion') format('svg');
	font-weight: normal;
	font-style:  normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'wponion';
    src: url('../font/wponion.svg?62014972#wponion') format('svg');
  }
}
*/

.wpoic-3d {
	text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

[class^="wpoic-"]:before, [class*=" wpoic-"]:before {
	font-family:             "wponion";
	font-style:              normal;
	font-weight:             normal;
	speak:                   none;
	display:                 inline-block;
	text-decoration:         inherit;
	width:                   1em;
	margin-right:            .2em;
	text-align:              center;
	font-variant:            normal;
	text-transform:          none;
	line-height:             1em;
	margin-left:             .2em;
	font-size:               15px;
	-webkit-font-smoothing:  antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wpoic-text-height:before {
	content: '\e800';
}

.wpoic-text-width:before {
	content: '\e801';
}

.wpoic-text-size:before {
	content: '\e802';
}

.wpoic-trash:before {
	content: '\e803';
}

.wpoic-plus:before {
	content: '\e804';
}

.wpoic-expand:before {
	content: '\e805';
}

.wpoic-collapse:before {
	content: '\e806';
}

.wpoic-down-circle:before {
	content: '\e807';
}

.wpoic-up-circle:before {
	content: '\e808';
}

.wpoic-down-small:before {
	content: '\e809';
}

.wpoic-up-small:before {
	content: '\e80a';
}

.wpoic-left-small:before {
	content: '\e80b';
}

.wpoic-right-small:before {
	content: '\e80c';
}

.wpoic-down-dark:before {
	content: '\e80d';
}

.wpoic-left-dark:before {
	content: '\e80e';
}

.wpoic-right-dark:before {
	content: '\e80f';
}

.wpoic-up-dark:before {
	content: '\e810';
}

.wpoic-down-bold:before {
	content: '\e811';
}

.wpoic-left-bold:before {
	content: '\e812';
}

.wpoic-right-bold:before {
	content: '\e813';
}

.wpoic-up-bold:before {
	content: '\e814';
}

.wpoic-help:before {
	content: '\e815';
}

.wpoic-help-circle:before {
	content: '\e816';
}

.wpoic-yes:before {
	content: '\e817';
}

.wpoic-yes-circle-dark:before {
	content: '\e818';
}

.wpoic-ok-circle-light:before {
	content: '\e819';
}

.wpoic-no:before {
	content: '\e81a';
}

.wpoic-no-circle-dark:before {
	content: '\e81b';
}

.wpoic-no-circle-light:before {
	content: '\e81c';
}

.wpoic-calendar:before {
	content: '\e81d';
}

.wpoic-clock:before {
	content: '\e81e';
}

.wpoic-left-circle-dark:before {
	content: '\f0a8';
}

.wpoic-right-circle-dark:before {
	content: '\f0a9';
}

.wpoic-up-circle-dark:before {
	content: '\f0aa';
}

.wpoic-down-circle-dark:before {
	content: '\f0ab';
}

.wpoic-menu:before {
	content: '\f0c9';
}

.wpoic-yes-square:before {
	content: '\f14a';
}

.wpoic-down:before {
	content: '\f175';
}

.wpoic-up:before {
	content: '\f176';
}

.wpoic-left:before {
	content: '\f177';
}

.wpoic-right:before {
	content: '\f178';
}

.wpoic-right-circle:before {
	content: '\f18e';
}

.wpoic-left-circle:before {
	content: '\f190';
}
