$icomoon-font-path: "../font/";

@import "../../node_modules/@wponion/icons/style.scss";

.wpoic-3d {
	text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

[class^="wpoic-"], [class*=" wpoic-"] {
	font-weight:     normal;
	display:         inline-block;
	text-decoration: inherit;
	width:           1em;
	margin-right:    .2em;
	text-align:      center;
	line-height:     1em;
	margin-left:     .2em;
}

/*
Old Icon Styles
[class^="wpoic-"]:before, [class*=" wpoic-"]:before {
	font-family:             "wponion";
	font-style:              normal;
	font-weight:             normal;
	speak:                   none;
	display:                 inline-block;
	text-decoration:         inherit;
	width:                   1em;
	margin-right:            .2em;
	text-align:              center;
	font-variant:            normal;
	text-transform:          none;
	line-height:             1em;
	margin-left:             .2em;
	-webkit-font-smoothing:  antialiased;
	-moz-osx-font-smoothing: grayscale;
}
*/
