.wponion-element.wponion-element-change_log {
	.changelog-style1 {
		/* ChangeLog Wraps.*/
		.changelog-releases {
			display:   inline-block;
			max-width: 1000px;
			padding:   20px 0;


			/* Single Change Log */
			.changelog-release {
				float:         left;
				width:         100%;
				margin-bottom: 35px;

				.release-info {
					float: left;
					width: 30%;

					.release-version {
						font-size:   40px;
						font-weight: 900;
						margin:      0;
						display:     inline-block;
					}

					.release-date {
						font-size:  15px;
						opacity:    .8;
						color:      #333;
						display:    inline-block;
						width:      100%;
						margin-top: 15px;
					}
				}

				.changelog-changes {
					float: left;
					width: 70%;

					.change-data {
						.changelog-log {
							margin-bottom: 10px;
							opacity:       1;

							&:hover {
								opacity: 0.75;
								cursor:  pointer;
							}

							.changelog-label-container {
								display:      inline-block;
								margin-right: 20px;
								min-width:    100px;
								text-align:   right;

								.changelog-label {
									color:         #fff;
									padding:       2px 10px;
									border-radius: 3px;
									display:       inline-block;
									margin-bottom: auto;
								}
							}

							.change-data {
								display: inline-block;
							}
						}
					}
				}
			}
		}
	}
}
