.wponion-element.wponion-element-subheading {
  margin-top:    -15px !important;
  margin-bottom: -15px;
  padding:       17px 15px !important;
  margin-left:   -12px;
  margin-right:  -12px !important;
}