.wponion-element.wponion-element-color_picker {
	.wp-picker-container {
		&.wp-picker-active {
			display: inline-block;
			width:   auto;
		}
	}

	.colors-wrapper {
		max-height: 300px;
		overflow-y: auto;
		display:    block;

		ul {
			margin: 0;
		}

		.color-palette-color {
			color:    transparent;
			display:  block;
			width:    100%;
			height:   100%;
			overflow: hidden;
			border:   1px solid rgba(0, 0, 0, .2);
		}

		&.round {
			label {
				padding: 3px;
			}

			.color-palette-color {
				border-radius: 50%;
			}
		}

		&.box-shadow {
			.color-palette-color {
				box-shadow: inset 3px 3px 13px 2px rgba(0, 0, 0, .22);
			}
		}

		input:checked + .color-palette-color {
			border:   0;
			width:    115%;
			height:   115%;
			position: relative;
			left:     -10%;
			top:      -10%;
			z-index:  1;
		}

		&.with-margin {
			li {
				margin: 0.5%;
			}
		}

		input {
			display: none;

			&:checked {
				+ .color-palette-color {
					box-shadow: 1px 1px 5px 0 #333333;
					border:     1px solid rgba(0, 0, 0, .3);
				}
			}
		}
	}

	.wponion-fieldset {
		ul {
			display: block;

			li {
				display: inline-grid;
			}
		}
	}

	/*.pickr {

	}*/
}

.wpo-color-picker, .wpo-color-picker * {
	-webkit-box-sizing: border-box;
	box-sizing:         border-box
}
