.wponion-element.wponion-element-color_picker {
	/*input.wponion-color-picker-element {
		display:        inline-block;
		height:         auto;
		padding:        1px 10px;
		margin-bottom:  0;
		vertical-align: middle;

		& + .pickr {
			display:        inline-block;
			vertical-align: middle;
		}

		&[type=text] + .pickr {
			margin-left: 10px;
		}
	}*/


	.wp-picker-container {
		&.wp-picker-active {
			display: inline-block;
			width:   auto;
		}
	}

	.colors-wrapper {
		max-height: 300px;
		overflow-y: auto;
		display:    block;

		ul {
			margin: 0;
		}

		.color-palette-color {
			color:    transparent;
			display:  block;
			width:    100%;
			height:   100%;
			overflow: hidden;
			border:   1px solid rgba(0, 0, 0, .2);
		}

		&.round {
			label {
				padding: 3px;
			}

			.color-palette-color {
				border-radius: 50%;
			}
		}

		&.box-shadow {
			.color-palette-color {
				box-shadow: inset 3px 3px 13px 2px rgba(0, 0, 0, .22);
			}
		}

		input:checked + .color-palette-color {
			border:   0;
			width:    115%;
			height:   115%;
			position: relative;
			left:     -10%;
			top:      -10%;
			z-index:  1;
		}

		&.with-margin {
			li {
				margin: 0.5%;
			}
		}

		input {
			display: none;

			&:checked {
				+ .color-palette-color {
					box-shadow: 1px 1px 5px 0 #333333;
					border:     1px solid rgba(0, 0, 0, .3);
				}
			}
		}
	}

	.wponion-fieldset {
		ul {
			display: block;

			li {
				display: inline-grid;
			}
		}
	}

	.colorpickerwrap {
		position:   relative;
		display:    inline-block;
		text-align: center;


		span.input-group-text {
			padding: .10rem .2rem;
		}

		.cpickr-bg {
			padding:    0.7rem;
			background: white;
			border:     1px solid #ddd;
		}

		.pickr {
			position:   absolute;
			visibility: hidden;
			top:        0;
			left:       0;
			right:      0;
			bottom:     0;
			width:      auto;
			z-index:    -1;
		}

		input.wponion-color-picker-element {
			text-align: left;
		}
	}
}

.wpo-color-picker {
	box-shadow: 0 0 10px 0 #00000029;

	&, & * {
		-webkit-box-sizing: border-box;
		box-sizing:         border-box
	}

	border:     $element_border;
}
